{% extends 'base.html' %}
{% load highlight %}
{% load staticfiles %}

{% comment %}
**URL Design: templates/search/search.html/**
Displays list of search results.
{% endcomment %}

{% block content %}
{% if query %}
    <h3>Results</h3>
    <p><strong>Showing results for:</strong> &quot;{{ query }}&quot; </p>
    <div class="container ">
    <div class="row">
        <hr />
        {% for result in page.object_list reversed %}
            {% if result.model_name  == "submission" %}
                <div class="span2.5">
                    {% for revision in result.object.revisions.all|slice:":1" reversed %}<a href="{% url 'searchrevinfo' revPk=revision.pk %}" title="{{ result.object.title }}"> <img src="{{ revision.thumb_small }}" alt="{{ result.object.title }}" /></a><br />{% endfor %}<br /><br />
                    <br /><br />
                </div>

                <div class="span9">
                    <strong>Result score: {{ result.score }}</strong><br />
                    User: <a href="{% url 'browse_user' pk=result.object.user.pk %}">{{ result.object.user }} </a><br />
                    Modified: {{ result.modified }}<br />
                    FileType: {{ result.object.filetype }}<br />
                    [MFB_ID: {{ result.pk }}.{% for revision in result.object.revisions.all|slice:":1" reversed %}{{ revision.pk }}{% endfor %}] Title: {% for revision in result.object.revisions.all|slice:":1" reversed %}<a href="{% url 'searchrevinfo' revPk=revision.pk %}" title="{{ result.object.title }}">{% highlight result.object.title with query html_tag "strong" max_length 10000000 %}</a>{% endfor %}<br />
                    <div class="description_wrapper"><div id="description_{{ result.pk }}" style="float: none; position: static;">Description: {% highlight result.object.description with query html_tag "strong" max_length 10000000 %}</div></div>
                    PDBs: {% for pdb in result.object.pdbs.all %} {% highlight pdb.pdbname with query html_tag "strong" max_length 1000000 %}{% if not forloop.last %}, {% endif %}{% endfor %}  <br />
                    Tags: {% for tag in result.object.tags.all %} <a href="{% url 'browse_submissions_of_tag' pk=tag.pk %}" >{% highlight tag.tagname with query html_tag "strong" max_length 1000000 %}</a>{% if not forloop.last %}, {% endif %}{% endfor %}  <br />
                    <br /><br /><br />
                </div><!-- span9 -->
            {% endif %}

        {% empty %}
            <p>No results found for &quot;{{ query }}&quot;.</p>
        {% endfor %}
    </div> <!--  end row -->
    </div> <!-- container -->

{% else %}
    {# Show some example queries to run, maybe query syntax, something else? #}
{% endif %}
<script type="text/javascript">
    $(document).ready(function() {
        $('.description_wrapper').children('div').jTruncate({
            length: 200,
            minTrail: 0,
            moreText: "[read more]",
            lessText: "[read less]",
            ellipsisText: " ...",
            moreAni: "fast",
            lessAni: "fast"
       });
    }); //end doc-ready
</script>
{% endblock %}
