/* ==========================================================================
   Author's custom styles
   ========================================================================== */
header#mainHeader
{
	text-align:left;
	color:red;
}

form#searchForm.form-search {
	margin-bottom: 5px;
}

#copyright {
	color: rgb(140,140,140);
}

.progress {
	width:250px;
}

#pageContainer
{
	width:1000px;
	margin-right: auto;
	margin-left: auto;
}

h2
{
	padding-bottom:10px;
	border-bottom:1px solid #ccc;
}

footer
{
	clear: both;
	border-top: 1px solid #ccc;
	text-align: center;
	padding:1em;
	height:5em;
}

a.anchtest:link
{
	color: rgb(190,190,190);
	text-decoration:none
}

a.anchtest:active
{
	color:#0088cc;
	text-decoration:none
}

a.anchtest:visited
{
	/*color:rgb(102,102,102);*/
	color: rgb(190,190,190);
	text-decoration:none
}

a.anchtest:hover
{
	color:#78af4b; /* 0088cc */
	text-decoration:none;
}

/* ===== layout for pages ==== */
.action-anchors:hover
{
	text-decoration:underline !important;
	color:#c63f85;
}

.smallfontstyle
{
	font-size: small;
}

/* ===== layout for Registration form pages ==== */
#djerrors {
	font-size: small;
	color:red;
}

#reactivate {
	font-size: small;
	color:red;
}

.errorlist {
	font-size: small;
	margin-left: 5px;
	list-style-type: none;
}

/* ===== layout for Reactivate Account form pages ==== */
#email {
	width:600px;
}

#reactivate_info {
	margin-left: -20px;
}

#reactivate_form {
	margin-left:0px;
}

#signup {
	width:720px;
}

.signup-headings {
	color: rgb(140,140,140);
}

/* ===== layout for Change Password form pages ==== */


#password_info {
	margin-left: -20px;
}

#change_pw_form {
	margin-left:-20px;
}

/* ===== layout for Confirm Password Twice form pages ==== */

#id_old_password {
	width:300px;
}

#id_new_password1 {
	width:300px;
}

#id_new_password2 {
	width:300px;
}

#password_info {
	margin-left: -20px;
}

#confirm_pw_twice_form {
	width:600px;
	margin-left:-20px;
}

/*================ Failed Confirm Password Link Message ======*/
#failed_pw_reset {
	width:600px;
	margin-left: -20px;
}

/* ===== layout for My User Settings form pages ==== */

#user_form {
	width:800px;
}

#id_first_name {
	width:400px;
}

#id_last_name {
	width:400px;
}

#anchor_edit_password {
	margin-left: 0px;
	color: #3CA83C;
}

#anchor_edit_email {
	margin-left: 0px;
	color: #3CA83C;
}

#anchor_edit_mailing {
	margin-left: 0px;
	color: #3CA83C;
}

#span_password {
	margin-left:350px;
}

#span_address {
	margin-left: 483px;
}

#confirm_pw_twice_form {
	width:600px;
	margin-left:-20px;
}


/* ===== layout for Address Change form pages ==== */

#user_form {
	width:800px;
}

#id_address1 {
	width:400px;
}

#id_address2 {
	width:400px;
}

#id_city {
	width:400px;
}

#id_zipcode {
	width:400px;
}

#id_website {
	width:400px;
}


#span_password {
	margin-left:350px;
}

#span_address {
	margin-left: 483px;
}

#confirm_pw_twice_form {
	width:600px;
	margin-left:-20px;
}

/* ===== layout for Post Tutorial form pages ==== */

#tutorial_form {
	width:800px;
}

#id_vimeoid {
	width:400px;
}

#id_comments {
	width:400px;
}

#checkbox_div {
	width: 100%;
	height: 100%;
}

#feature_label {
	display:block;
}

#id_tutfeature {
	width: 25px;
	height: 25px;
	margin:auto;
	padding:auto;
	vertical-align: bottom;
	position: relative;
	*overflow: hidden;
}

input.readonly {
	opacity : .50;
	filter  : alpha(opacity=50); /* IE<9 */
	cursor  : default;
}

/* ===== layout for Post News Event form pages ==== */
#id_title {
	width:400px;
}

#id_body {
	width:400px;
}

/* ===== layout for Submission and Revision form pages ==== */
#submissionUpload {
	width:790px;
}

#revisionUpload {
	width:790px;
}


.errorlist
{
	color: red;
}

label
{
	display:none;
}


#filetype-select
{
	display:none;
}

#iconfiletypes
{
	position:relative;
	display:inline;
}

#iconfile
{
	position:relative;
}

.ui-progressbar {
	position: relative;
	display:none;
}

.progress-label {
	position:absolute;
	left: 50%;
	top: 4px;
	font-weight:bold;
	text-shadow: 1px 1px 0 #fff;
	display:none;
}

#filetype-error-msg-prompt
{
	display:none;
}


/* input type-file style and downloads button */
.file-wrapper
{
	cursor:pointer;
	display:inline-block;
	overflow:hidden;
	position:relative;
}

.file-wrapper input
{
	cursor: pointer;
	font-size: 100px;
	height: 100%;
	filter: alpha(opacity=1);
	-moz-opacity: 0.01;
	opacity: 0.01;
	position: absolute;
	right: 0;
	top: 0;
}

.file-wrapper .browsebtn
{
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	cursor: pointer;
	color:#fff;
	display: inline-block;
	font-size: 11px;
	font-weight: bold;
	margin-right: 5px;
	padding: 4px 18px;
	text-transform: capitalize;
	border-left: 1px solid #a5d7b7;
	border-top: 1px solid #a5d7b7;
	border-bottom: 1px solid #55856a;
	border-right: 1px solid #55856a;
	background: -webkit-linear-gradient(#a1e048, #6a942f);
	background: -moz-linear-gradient(#a1e048, #6a942f);
	background: -ms-linear-gradient(#a1e048, #6a942f);
	background: -o-linear-gradient(#a1e048, #6a942f);
	background: linear-gradient(#a1e048, #6a942f);
}

#id_sourcefile
{
	visibility:visible;
}

#progressbar 
{
	visibility:hidden;
}

#scene-msg-prompt #info-msg-prompt
{
	font-size: x-small;
}

#info-error-msg-prompt
{
	display:none;
}

#vidpic-msg-prompt
{
	visibility:hidden;
}

#thumbnail-upload
{
	visibility:hidden;
}

#id_vidpic
{
	visibility:hidden;
}

#browsethumbnail
{
	visibility:hidden;
}

#outer-bar-vidpic
{
	display:none
}

#vidanimation-msg-prompt
{
	visibility:hidden;
}

#video-upload
{
	visibility:hidden;
}

#id_vidanimation
{
	visibility:hidden;
}

#browsevid
{
	visibility:hidden;
}
#outer-bar-vidanimation
{
	display:none
}

/* index page */
.icon-wrapper:hover
{
	color: #c63f85;
	text-decoration: underline !important;
	font-weight: bold;
}

.icon-wrapper
{
	/*font-size: small;*/
	/*color: #0063dc;*/
	color: #3ca83c;
	margin-top: 10px;
	margin-bottom: 10px;
	width:150px;
	line-height:14px;

}

h2.dashboard-headings {
	margin-left:-20px;
}

p#demovid {
	margin-left:-18px;
}

p#featurevid {
	margin-left:-18px;
}

h3.dashboard-headings {
	margin-left:-20px;
}

p#featuretut {
	margin-left: 0px;
}

.img-highlight {
    opacity: 0.7;
}

.img-highlight:hover {
    opacity: 1;
}

/* text fields for submission form */
#title
{
	visibility:hidden;
	background-color:transparent;
	position:absolute;
	left:0;
	top:0;
	z-index:1;
	width:100%;
}
#title:focus, #title:first-line
{
	background-color:white;
	width:100%;
}
.placeholder 
{
	color:#aaa;
	display:none;
	font-size:small;
	padding-top:7px;
	padding-left:350px;
	position:relative;
	text-align:center;
	width:auto;
}

#authors
{
	visibility:hidden;
	background-color:transparent;
	position:absolute;
	top:0;
	left:0;
	z-index:1;
	width:100%;
}

#authors:focus, #authors:first-line
{
	background-color:white;
	width:100%;
}

textarea#description
{
	visibility:hidden;
	width:470px;
	margin-left: -350px;
	padding:0px;
}

#description:focus, #description:first-line {
	width:470px;
	margin-left:-350px;
	padding:0px;
}

#pdbs
{
	visibility:hidden;
}

#tags
{
	visibility:hidden;
	width:480px;
}

#ancestors
{
	visibility:hidden;
	width:460px;
	margin-left:-350px;
}

#comments
{
	visibility:hidden;
	margin-left:-350px;
	width:525px;
}

#submissionInput 
{
	visibility:hidden;
}


/* ======================== pdb input submission form =========*/

#pdbs-tokenfield {
	width: 460px;
}

#pdbs-tokenfield .token-input .ui-autocomplete-input input {
	width: 450px;
}

#pdbs-tokenfield:focus {
	width:460px;
}

/* ======================== tag input submission form =========*/


#tags-tokenfield {
	width: 480px;
}

#tags-tokenfield .token-input .ui-autocomplete-input input {
	width: 480px;
}

#tags-tokenfield:focus {
	width:480px;
}

.tokenfield .token-input {
	border: 1px solid #cccccc;
	padding: 4px 6px;
	visibility: hidden;
}

.ui-menu {
	width: 460px;
}

.token-input {
	width: 460px;
}

/* =============== revision form  ========*/
textarea#description
{
	visibility:hidden;
	width:470px;
	margin-left: -350px;
	padding:0px;
}

#description:focus, #description:first-line {
	width:470px;
	margin-left:-350px;
	padding:0px;
}

/* =============== dashboard ========*/
.dashboard-headings
{
	/*color: rgb(102,102,102);*/
	color: rgb(190,190,190);
}

/* =============== submission objects container on library template ========*/
#library-submits-wrapper
{
	display: block;
	margin-left:-60px;
	
}

#tlibrary-submits-wrapper:hover a
{
	color: #0063dc;
}

#library-submits .library-submits-elements
{
	border-radius:0px;
	border: 0px solid #e6e6e6;
	word-wrap: break-word;
}

#library-submits .library-submits-elements, #library-submits li
{
	position: relative;
	display: inline-block;
	margin-left: 20px;
	margin-right: 20px;
	margin-bottom:10px;
	vertical-align:top;
}


#library-submits a
{
	/*color: #999;*/
	color: #3ca83c;
}

.library-title-wrapper:hover 
{
	color: #c63f85;
	text-decoration: underline !important;
	font-weight: normal;
}

.library-title-wrapper
{
	font-size: small;
	/*color: #0063dc;*/
	color: #3ca83c;
	margin-top: 10px;
	margin-bottom: 10px;
	width:200px;
	line-height:14px;

}

img.library-submits-thumbnail {
	border: 1px solid #E1E2E3;
	border-color:rgb(190,190,190);
	padding:4px;
}

.submits-title
{
	height:25px;
	width:150px;
}


/* ============== revision info template ================*/
#rev-d-section .filesdownload a {
    background-color: #C74D5A;
    border-radius: 3px 3px 3px 3px;
    color: white;
    float: right;
    font-size: 14px;
    height: 14px;
    margin-top: 35px;
    margin-right:15px;
    padding: 4px 6px 6px;
    text-decoration: none;
}

/* ============== submission_info template ======*/
#sub-info
{
	width: 360;
}

.filesdownload a
{
	float: right;
	margin-top: 35px;
	margin-right: 21px;
	color: white;
	text-decoration: none;
	background-color: #5bb75b;
	padding: 4px 6px 6px;
	font-size: 14px;
	border-radius: 3px 3px 3px 3px;
	height: 20px;

}



/*================ Uploads Manager template ==========*/
.uploads-user:link {
	color: #3ca83c;
}

.uploads-user:hover
{
	color: #c63f85;
	text-decoration: underline !important;
	font-weight: normal;

}

/* ============== dashboard_master ellipsis wrapper ======*/

.dashboard-title-wrapper
{
	font-size: small;
	min-height:18px;
}

.dashboard-title-wrapper:link {
	color: #3ca83c;
}

.dashboard-title-wrapper:hover
{
	color:#c63f85;
	text-decoration: underline !important;
}

/* =============== submission objects container of side-columns ========*/
#side-thesubmits-wrapper
{
	display: block;
	margin-left:0px;
	
}

#side-thesubmits-wrapper:hover a
{
	/*color: #0063dc;*/
}

#side-thesubmits .side-submits-element
{
	border-radius:0px;
	border: 0px solid #e6e6e6;
	word-wrap: break-word;
}

#side-thesubmits .side-submits-element, #side-thesubmits li
{
	position: relative;
	display: inline-block;
	margin-bottom: 5px;
	line-height: 0px;
	margin-left:0px;
}


img.side-col-thumbnail {
	border: 1px solid #E1E2E3;
	border-color:rgb(190,190,190);
	padding:4px;
	margin-left: 0px;
} 

div.side-submits-element
{
	margin-bottom: 5px;

}

#side-thesubmits
{
	margin: 0 0 5px;
}

#side-thesubmits a
{
	color: #999;
}

a:visited
{
	text-decoration: none;
	color: #3ca83c;
}

a:link
{
	text-decoration: none;
	color:#3ca83c;
}

a.truncate_more.action-anchors {
	color: #3ca83c;
}

a.sub-links {
	color:#3ca83c;
}

/*#side-thesubmits a:hover
{
	color: #fff;
	background-color: #0063dc;
}
*/

.add-title:hover 
{
	color: #c63f85;
	text-decoration: underline !important;
	font-weight: normal;
}



.sublinks
{
	padding:5px;
}

a.title-sublinks {
	color: #3ca83c;
}

#feature-animation:hover
{
	color: #c63f85;
	font-weight: bold;
	text-decoration: underline !important;
}

.home-wrapper
{
	font-size: x-small;
}


/* =============== tag container =======================*/
#thetags-wrapper
{
	display: block;
	margin-left: -15px;
	
}

#thetags-wrapper:hover a
{
	color: #3CA83C;
}

#thetags .tag-element
{
	border-radius: 3px;
	padding: 1px 4px;
	border: 1px solid #e6e6e6;
	word-wrap: break-word;
}

#thetags .tag-element, #thetags li
{
	position: relative;
	display: inline-block;
	margin-right: 3px;
	margin-bottom: 3px;
	min-height: 18px;
	
}

#thetags
{
	margin: 0 0 10px;
}

#thetags a
{
	color: #999;
}

#thetags a:hover
{
	color: #fff;
	background-color: #3CA83C;
}


/* ========================= button mini uploads mgr ========= */

.btn-mini {
	background-color: #f5f5f5;
}

/* ========= django-jquery-file-upload ================ */
.preview img {
    max-height: 50px;
}

/* ============ jquery validation plugin ================ */
.valid {
	border-color: green;
}

label.error {
	border-color: red;
	color: red;
}

/* ============ Downloads page layout ================ */

.downloads-margin-left {
	margin-left:-5px;
}