{% extends "admin/base_site.html" %}"
{% load i18n admin_urls admin_static admin_list %}

{% block extrastyle %}
	{{ block.super }}
	<link rel="stylesheet" type="text/css" href="{% static "admin/css/changelists.css" %}" />
	{% if cl.formset %}
		<link rel="stylesheet" type="text/css" href="{% static "admin/css/forms.css" %}" />
	{% endif %}
	{% if cl.formset or action_form %}
		<script type="text/javascript" src="{% url 'admin:jsi18n' %}"></script>
	{% endif %}
	{{ media.css }}
	{% if not actions_on_top and not actions_on_bottom %}
		<style>
			#changelist table thead th:first-child {width: inherit}
		</style>
	{% endif %}
{% endblock %}

{% block extrahead %}
{{ block.super }}
{{ media.js }}
{% if action_form %}{% if actions_on_top or actions_on_bottom %}
<script type="text/javascript">
(function($) {
		$(document).ready(function($) {
				$("tr input.action-select").actions();
		});
})(django.jQuery);
</script>
{% endif %}{% endif %}
{% endblock %}

{% block bodyclass %}change-list{% endblock %}

{% if not is_popup %}
{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
&rsaquo; <a href="{% url 'admin:app_list' app_label=cl.opts.app_label %}">{{ app_label|capfirst|escape }}</a>
&rsaquo; {{ cl.opts.verbose_name_plural|capfirst }}
</div>
{% endblock %}
{% endif %}

{% block coltype %}flex{% endblock %}

{% block content %}
<h4>ADMINISTRATORS: To select a featured video, only one can be chosen. If there exists one, deselect it under <i>VidFeature</i>, select new feature animation, and then click Save.<br />
For selecting favorites of staff, click on one or more choices under <i>Vidstaffpick</i> and then click Save.<br /><br />
Do <i>not</i> add a Submission object through this form. Use the <a href="{% url 'upload' %}"><em>Upload your files</em></a> form.<br /><br />
<a href="{% url 'admin_settings' %}">Return to MFB Site</a>.</h4>
	<div id="content-main">
		{% block object-tools %}
			{% if has_add_permission %}
				<ul class="object-tools">
					{% block object-tools-items %}
						<li>
							{% url cl.opts|admin_urlname:'add' as add_url %}
							<a href="{% add_preserved_filters add_url is_popup %}" class="addlink">
								{% blocktrans with cl.opts.verbose_name as name %}Add {{ name }}{% endblocktrans %}
							</a>
						</li>
					{% endblock %}
				</ul>
			{% endif %}
		{% endblock %}
		{% if cl.formset.errors %}
				<p class="errornote">
				{% if cl.formset.total_error_count == 1 %}{% trans "Please correct the error below." %}{% else %}{% trans "Please correct the errors below." %}{% endif %}
				</p>
				{{ cl.formset.non_form_errors }}
		{% endif %}
		<div class="module{% if cl.has_filters %} filtered{% endif %}" id="changelist">
			{% block search %}{% search_form cl %}{% endblock %}
			{% block date_hierarchy %}{% date_hierarchy cl %}{% endblock %}

			{% block filters %}
				{% if cl.has_filters %}
					<div id="changelist-filter">
						<h2>{% trans 'Filter' %}</h2>
						{% for spec in cl.filter_specs %}{% admin_list_filter cl spec %}{% endfor %}
					</div>
				{% endif %}
			{% endblock %}

			<form id="changelist-form" action="" method="post"{% if cl.formset.is_multipart %} enctype="multipart/form-data"{% endif %}>{% csrf_token %}
			{% if cl.formset %}
				<div>{{ cl.formset.management_form }}</div>
			{% endif %}

			{% block result_list %}
					{% if action_form and actions_on_top and cl.full_result_count %}{% admin_actions %}{% endif %}
					{% result_list cl %}
					{% if action_form and actions_on_bottom and cl.full_result_count %}{% admin_actions %}{% endif %}
			{% endblock %}
			{% block pagination %}{% pagination cl %}{% endblock %}
			</form>
		</div>
		<div><a href="{% url 'admin_settings' %}">Return to MFB Site</a>
	</div>
{% endblock %}
