{% extends "base.html" %}
{% load staticfiles %}

{% comment %}
**registration/activation_complete.html**
Used after successful account activation given as a link
sent to user's provided email address. 
This template has no context variables of its own, 
and should simply inform the user that their account 
is now active.
{% endcomment %}

{% block content %}
<section class="activation_complete_msg">
{% if expired %}
	<h4 class="dashboard-headings">{{ username }}, your activation link expired.</h4>
		<p>
		We'll resend another activation link to your email address that you provided to us.<br />
		Please make sure to check your email account and click on the activation link within 48 hours.<br />
		Click <a href="{% url 'reactivate' %}">here</a> to reactivate your account.<br /><br />

		See you soon, The Flipbook Team<br /><br />

		</p>
		<br /><br />

{% elif success %}
	<h4 class="dashboard-headings">{{ username }}, your account has been activated!</h4>
		<p>
		Now, all you have to do is login into your Flipbook account <a href="/login/">right here</a>.<br /><br />
		
		Cheers, The Flipbook Team<br /><br />
		
		</p>
		<br /><br />
{% endif %}
</section>
{% endblock %}