{% extends "accounts/dashboard.html" %}
{% load staticfiles %}

{% comment %}
Redirect changing password upon success.
{% endcomment %}

{% block title %}Address change successful{% endblock %}

{% block address_change_done %}
<section class="successful_address_change_msg">
	<h1 class="dashboard-headings">Awesome!</h1>
		<p>
		Your address information has been saved into our system.<br /><br />

		Thanks for updating your info. - The Molecular Flipbook Team
		<br />
		</p>
		<br /><br />
</section>
{% endblock %}