{% extends "accounts/dashboard.html" %}
{% load staticfiles %}

{% comment %}
**accounts/submission_form.html**
customized submission form that allows user to
upload a scene file or a file of a given format
to the MFB server
{% endcomment %}

{% block address_change_form %}
<h3 class="dashboard-headings" style="margin-left:0px">My User Settings: Change Contact Information</h3>
Please enter a contact address and your website.<br /><br /><br />
<form id="user_form" action="{% url 'address_change' %}" method="post">{% csrf_token %}

	<div class="control-group">
	<div class="controls">
		{% if form.address1.errors %}<p class="error">{{ form.address1.errors }}</p>{% endif %}
		{{ form.address1 }}<br />
	</div>
	</div>
	<div class="control-group">
	<div class="controls">
		{% if form.address2.errors %}<p class="error">{{ form.address2.errors }}</p>{% endif %}
		{{ form.address2 }}<br />
	</div>
	</div>
	<div class="control-group">
	<div class="controls">
		{% if form.city.errors %}<p class="error">{{ form.city.errors }}</p>{% endif %}
		{{ form.city }}<br /><br />
	</div>
	</div>
	<div class="control-group">
	<div class="controls">
		{% if form.state.errors %}<p class="error">{{ form.state.errors }}</p>{% endif %}
		{{ form.state }}<br />
	</div>
	</div>
	<div class="control-group">
	<div class="controls">
		{% if form.zipcode.errors %}<p class="error">{{ form.zipcode.errors }}</p>{% endif %}
		{{ form.zipcode }}<br /><br />
	</div>
	</div>
	<div class="control-group">
	<div class="controls">
		{% if form.website.errors %}<p class="error">{{ form.website.errors }}</p>{% endif %}
		{{ form.website }}<br /><br />
	</div>
	</div>
	<div class="control-group" >
	<div class="controls" align=left>
		<input type="submit" name="save" style="color: #3CA83C" alt="Address Change Form" value="Save" />
		<br /><br />
	</div>
	</div>
</form>
<script type="text/javascript">
  $(document).ready(function(){
	$('#id_address1').prop("placeholder","Enter your street address");
	$('#id_address2').prop("placeholder","Enter your secondary address");
	$('#id_city').prop("placeholder","What city do you live in")
	$('#id_zipcode').prop("placeholder","Don't forget your zipcode")
	$('#id_website').prop("placeholder","Let's check out your site")
	if ( $('.errorlist').length ) {
	  $('input[id=id_address1]').on('focus',function() {
		$('.error').remove();
		$('.errorlist').remove();
	  });
	  $('input[id=id_address2]').on('focus',function() {
		$('.error').remove();
		$('.errorlist').remove();
	  });
	  $('input[id=id_city]').on('focus',function() {
		$('.error').remove();
		$('.errorlist').remove();
	  });
	  $('input[id=id_zipcode]').on('focus',function() {
		$('.error').remove();
		$('.errorlist').remove();
	  });
	}
	//if ( $('input[id=id_email]').val() === "" ) {
	//  $('input[id=id_email]').before('<span style="color:red;font-size:small">This field is required.</span><br />');
	//}
  });
</script>
{% endblock %}
