{% extends "accounts/dashboard.html" %}
{% load staticfiles %}

{% comment %}
Redirect submission upload and revision upload upon success.
{% endcomment %}

{% block email_change_done %}
<section class="successful_upload_msg">
	<h1 class="dashboard-headings">Fantastic!</h1>
		<p>
		We've sent you a confirmation email about your settings being saved into our system.<br /><br />

		Thanks for updating your info. - The Molecular Flipbook Team
		<br />
		</p>
		<br /><br />
</section>
{% endblock %}