{% extends "accounts/dashboard.html" %}
{% load staticfiles %}

{% comment %}
**accounts/submission_form.html**
customized submission form that allows user to
upload a scene file or a file of a given format
to the MFB server
{% endcomment %}

{% block email_change_form %}
<h3 class="dashboard-headings" style="margin-left:0px">My User Settings: Change Email</h3>
Please use an active email address, and we will send you an message to this address to confirm.<br /><br /><br />
<form id="user_form" action="{% url 'email_change' %}" method="post">{% csrf_token %}
	<div class="control-group">
	<div class="controls">
		{% if form.first_name.errors %}<p class="error">{{ form.first_name.errors }}</p>{% endif %}
		{{ form.first_name }}<br />
	</div>
	</div>
	<div class="control-group">
	<div class="controls">
		{% if form.last_name.errors %}<p class="error">{{ form.last_name.errors }}</p>{% endif %}
		{{ form.last_name }}<br />
	</div>
	</div>
	<div class="control-group">
	<div class="controls">
		{% if form.email.errors %}<p class="error">{{ form.email.errors }}</p>{% endif %}
		{{ form.email }}<br /><br />
	</div>
	</div>
	<div class="control-group" >
	<div class="controls" align=left>
		<input type="submit" name="save" alt="Settings Form" style="color:#3CA83C" value="Save" />
		<br /><br />
	</div>
	</div>
</form>
<script type="text/javascript">
  $(document).ready(function(){
	$('#id_username').css("visibility","hidden");
	$('#id_password').css("visibility","hidden");
	$('#id_first_name').prop("placeholder","Enter your first name");
	$('#id_last_name').prop("placeholder","Enter your last name");
	$('#id_email').prop("placeholder","Enter a current email address").css("width","400px");
	if ( $('.errorlist').length ) {
	  $('input[id=id_email]').on('focus',function() {
		$('.error').remove();
		$('.errorlist').remove();
		//$(this).siblings().eq(0).remove();
	  });
	}
	if ( $('input[id=id_email]').val() === "" ) {
	  $('input[id=id_email]').before('<span style="color:red;font-size:small">This field is required.</span><br />');
	}
  });
</script>
{% endblock %}
