{% extends "base.html" %}
{% load staticfiles %}

{% comment %}
**registration/failt_to_register.html**
Used if account activation fails. With the default setup, has the following context:

``activation-key``
	The activation key used during the activation attempt.
{% endcomment %}

{% block content %}
<section class="registration_incomplete">
	<h2>ERROR: MFB Account Registration Incomplete</h2>
		<p>
		Yikes!<br /><br /> 
		
		{{ username }}, your registration process has somehow failed. Please register again by clicking <a href="{% url 'register' %}">here</a>.<br /><br />
		
		Thanks for your patience. The Flipbook Team<br /><br />
		</p>
		<br /><br />
</section>
{% endblock %}