{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}


{% block content %}
<section class="logout-msg">
<h2 class="dashboard-headings">Log Out</h1>

<p>You have been successfully logged out of Molecular Flipbook.</p>

<a href="/login/">Login again</a>
</section>

{% endblock %}
