{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %} 

{% comment %}
**registration/registration_form.html**
Customized login with checks for required fields, 
unique username, hidden password input and match 
{% endcomment %}

{% block content %}
<div class="login">
	<h1 class="dashboard-headings">Log in</h1>
	<div class="container-fluid" >
		<div class="row-fluid">
			<div class="span3" style="padding-top:2em">
				<form action="" id="login-form" method="post">
				{% csrf_token %}
				{% for error in form.non_field_errors %}<span id="djerrors">{{ error }}</span>{% endfor %}
					<div class="control-group">
					<div class="controls">
						{% if form.username.errors %}<p class="error">{{ form.username.errors }}</p>{% endif %}
						{{ form.username }}<br />
					</div>
					</div>
					<div class="control-group">
					<div class="controls">
						{% if form.password.errors %}<p class="error">{{ form.password.errors }}</p>{% endif %}
						{{ form.password }}
					</div>
					</div>
					<div class="control-group">
					<div class="controls">
						<input type="submit" class="big" alt="Login Form" tabindex="3" value="{% trans 'Log In' %}" /><br /><br /><br />
						<span class="help-block"><a href="{% url 'password_reset' %}" style="font-size:small">Forget Password?</a></span>
						<span class="help-block"><a href="{% url 'register' %}" style="font-size:small">Need to Register?</a></span>
					<br/><br/>
					</div></div>
				</form>
			</div> <!-- span3 -->

			<div class="span9" style="padding-left:0em; padding-top:0; padding-bottom:6em; margin-left:20px;">
				<h2 class="dashboard-headings" style="margin-left:20px;">Featured Animation</h2>
				{% if feature %}
				<h4><a id="feature-animation" href="{% url 'subinfo' subPk=subpk revPk=revpk %}" style="margin-left:20px">{{ subtitle }}</a></h4><br />
					<div class="span6" style="margin-left:20px">
						{% if revItem.vimeoid  %}
							{% if oembed %}
								{{ oembed | safe }}
							{% else %}
								<a href="{% url 'subinfo' subPk=subpk revPk=revpk %}" title="{{ subtitle }}">
								<img src="{{ revItem.thumb_large }}" alt="{{ subtitle }}" /></a>
							{% endif %}
						{% else %}
								<a href="{% url 'subinfo' subPk=subpk revPk=revpk %}" title="{{ subtitle }}">
								<img src="{{ revItem.thumb_large }}" alt="{{ subtitle }}" /></a>
						{% endif %}
						</a>
					</div>
					<div class="span5" style="padding-top:0px; padding-bottom:100px; margin-left:50px">
						<span class="smallfontstyle"><strong>Username</strong>:  <a href="{% url 'browse_user' pk=subuserpk %}">{{ subUser }}</a></span><br />
						<span class="smallfontstyle"><strong>Submitted</strong>: {{ subcreated }}</span><br />
						<span class="smallfontstyle"><strong>Filetype</strong>: {{ filetype }}</span><br />
						<p class="description-wrapper"><span class="smallfontstyle"><strong>Description</strong>: {{ subdescription }}</span></p>
					</div>
				{% else %}
					<div class="span6" style="margin-left:20px;">
						<h5>Title: No data</h5>
						<a href="" ><img src="" /> </a><br /><br />
					</div>
					<div class="span5" style="padding-top:0px; padding-bottom:100px;margin-left:50px">
						Username: No data<br />
						Submitted: No data<br /><br />
						<p>
						Description: No data
						</p>
					</div>
				{% endif %}
			</div> <!-- reg content -->
		</div> <!-- row-fluid -->
	</div><!--  container fluid -->
</div>
<script type="text/javascript">
  $(document).ready(function(){

	if ( $('.errorlist').length ) {
	  $('input[type=text]').on('focus',function() {
		$(this).siblings().eq(0).remove();
		$(this).siblings().eq(0).remove();
	  });
	  $('input[type=password]').on('focus',function() {
		$(this).siblings().eq(0).remove();
		$(this).siblings().eq(0).remove();
	  });
	}

	if ( $('#djerrors').html() === 'Your account is not activated:' ) {
		$('#djerrors').after('<span id="reactivate"><a href="{% url "reactivate" %}"> Reactivate Your Account</a></span><br /><br />');
	}

	//$("#featurevid").on("mouseleave", function(e){
	//  var i = 0;
	//  var url = $(this).attr("src");
	//  console.log(url);
	//  if ( (i = $(this).attr("src").indexOf("?") ) > 0 ) {
	//	console.log(i);
	//	$(this).attr({
	//	  "src": url,
	//	});
	//  }
	//});

	$('.description-wrapper').children('span').jTruncate({
	  length: 150,
	  minTrail: 0,
	  moreText: "[read more]",
	  lessText: "[read less]",
	  ellipsisText: "...",
	  moreAni: "fast",
	  lessAni: "fast"
	});
  }); //end ready
</script>
{% endblock %}