{% extends "base.html" %}
{% load staticfiles %}

{% comment %}
**registration/no_activation_key.html**
Used after successful completion of the registration form. 
This template has no context variables of its own, and should 
simply inform the user that an email containing account-activation 
information has been sent.

{% endcomment %}

{% block content %}
<section class="registration_complete_msg">
	<section class="registration_email">
	<h2 class="dashboard-headings">Activation Link Expired</h2>
		<p>
		{{ username }}, <br /><br />
		
		The activation link is no longer available. Please try <a href="{% url 'login' %}" >logging into</a> your Molecular Flipbook account.<br />
		If you are unable to log into your account, we will send you another activation link to your registered email address by clicking <a href="{% url 'reactivate'  %}" >here</a>.<br /><br /> 
		
		Thanks. - The Flipbook Team<br /><br />
		
		</p>
		<br /><br />
	</section>
</section>
{% endblock %}