{% extends "base.html" %}
{% load staticfiles %}

{% comment %}
**registration/password_reset_confirm.html**
Used to have user reset their password when they are logged into their account.

{% endcomment %}

{% block title %}Setting New password{% endblock %}

{% block content %}
<div class="span8">
	<h2 class="dashboard-headings">Change Your Password</h2>
   {% if validlink %}
		<p id="pw_info">Please enter your new password twice.<br /></p>
		<form id="confirm_pw_twice" action="" method="post">
			<div style="display:none">
				<input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
			</div>
			<div class="control-group">
			<div class="controls">
				{% if form.new_password1.errors %}<p class="error">{{ form.new_password1.errors }}</p>{% endif %}
				<span for="id_new_password1">New password:</span><br />
				{{ form.new_password1 }}<br/>
			</div>
			</div>
			<div class="control-group">
			<div class="controls">
				{% if form.new_password2.errors %}<p class="error">{{ form.new_password2.errors }}</p>{% endif %}
				<span for="id_new_password2">Confirm password:</span><br />
				{{ form.new_password2 }}<br/>
			</div>
			</div>
			<div class="control-group" >
			<div class="controls" align=left>
				<input id="confirm_pw_2x_submit" type="submit" class="big bg-color-greenLight" alt="Registration Form" value="Reset Password" />
				<br/><br/>
			</div>
			</div>
		</form>
	{% else %}
		<h4>Password Reset Unsuccessful</h4>
		<p id="failed_pw_reset">The password reset link was invalid, <br />
		possibly because it has already been used. <br />
		Please request a new password reset.</p>
	{% endif %}

</div><!--  span8 -->
<div class="span4">
	<div class='span4'>
	<h3 class="dashboard-headings" style="margin-left:0px">Contact us</h3>
	If you have any questions, please
	<a href="mailto: &#109;&#111;&#108;&#101;&#099;&#117;&#108;&#097;&#114;&#102;&#108;&#105;&#112;&#098;&#111;&#111;&#107;&#064;&#103;&#109;&#097;&#105;&#108;&#046;&#099;&#111;&#109;">email the Flipbook team</a>.
	<br /><br />
	</div>
</div><!--  span4 -->
<script type="text/javascript">
  $(document).ready(function(){
	if ( $('.errorlist').length ) {
	  $('input[id=id_new_password1]').on('focus',function() {
		$('.error').remove();
		$('.errorlist').remove();
		//$(this).siblings().eq(0).remove();
	  });
	  $('input[id=id_new_password2]').on('focus',function() {
		$('.error').remove();
		$('.errorlist').remove();
		//$(this).siblings().eq(0).remove();
	  });
	}
  });
</script>
{% endblock %}