{% extends "base.html" %}
{% load staticfiles %}

{% comment %}
**registration/password_reset_complete.html**
Used to have user reset their password when they are logged into their account.

{% endcomment %}

{% block title %}Password reset complete{% endblock %}

{% block content %}
<div class="span8">
	<h2 class="dashboard-headings">Change Your Password</h2>
	<p>Your password has been set.  You may go ahead and log in now.</p>
	<p><a href="{% url 'login' %}">Log in</a></p>

</div><!--  span8 -->
<div class="span4">
	<div class='span4'>
	<h3 class="dashboard-headings" style="margin-left:0px">Contact us</h3>
	If you have any questions, please
	<a href="mailto: &#109;&#111;&#108;&#101;&#099;&#117;&#108;&#097;&#114;&#102;&#108;&#105;&#112;&#098;&#111;&#111;&#107;&#064;&#103;&#109;&#097;&#105;&#108;&#046;&#099;&#111;&#109;">email the Flipbook team</a>.
	<br /><br />
	</div>
</div><!--  span4 -->
<script type="text/javascript">
  $(document).ready(function(){
	if ( $('.errorlist').length ) {
	  $('input[id=email]').on('focus',function() {
	  	$('.error').remove();
		$('.errorlist').remove();
		//$(this).siblings().eq(0).remove();
	  });
	}
  });
</script>
{% endblock %}