{% extends "accounts/dashboard.html" %}
{% load staticfiles %}

{% comment %}
Redirect changing password upon success.
{% endcomment %}

{% block title %}Password change successful{% endblock %}

{% block change_password_done %}
<section class="successful_upload_msg">
	<h1 class="dashboard-headings">Super!</h1>
		<p>
		Your new password was successfully changed and saved into our system.<br /><br />

		Thanks for updating your info. - The Molecular Flipbook Team
		<br />
		</p>
		<br /><br />
</section>
{% endblock %}