{% extends "base.html" %}
{% load staticfiles %}

{% comment %}
**registration/password_reset_form.html**
Used to have user reset their password when they are logged into their account.

{% endcomment %}

{% block title %}Reset Password{% endblock %}

{% block content %}
<div class="span8">
	<h2 class="dashboard-headings">Reset Your Password</h2>
	<p id="password_info">Please enter your registered email address to receive instructions for resetting your password.<br /><br /></p>

	<form id="change_pw_form" action="" method="post">{% csrf_token %}
		{{ form.email.errors }}
		<p id="pwform"> {{ form.email }}<br /> <input id="pw_btn" type="submit" value="Reset password" /></p>
	</form>

</div><!--  span8 -->
<div class="span4">
	<div class='span4'>
	<h3 class="dashboard-headings" style="margin-left:0px">Contact us</h3>
	If you have any questions, please
	<a href="mailto: &#109;&#111;&#108;&#101;&#099;&#117;&#108;&#097;&#114;&#102;&#108;&#105;&#112;&#098;&#111;&#111;&#107;&#064;&#103;&#109;&#097;&#105;&#108;&#046;&#099;&#111;&#109;">email the Flipbook team</a>.
	<br /><br />
	</div>
</div><!--  span4 -->
<script type="text/javascript">
  $(document).ready(function(){
  	$('#id_email').css('width','600px');
	if ( $('.errorlist').length ) {
	  $('input[id=id_email]').on('focus',function() {
	  	$('.error').remove();
		$('.errorlist').remove();
		//$(this).siblings().eq(0).remove();
	  });
	}
  });
</script>
{% endblock %}