{% extends "accounts/dashboard.html" %}
{% load staticfiles %}

{% comment %}
**accounts/password_change_form.html**
customized submission form that allows user to
upload a scene file or a file of a given format
to the MFB server
{% endcomment %}

{% block title %}Password Change{% endblock %}

{% block change_password_form %}
<h3 class="dashboard-headings" style="margin-left:0px">My User Settings: Change Your Password</h3>
	<p id="pw_info">Please enter your new password twice for verification.<br /><br /></p>
	<form id="user_form" action="" method="post">{% csrf_token %}
		<div class="control-group">
		<div class="controls">
			<span for="id_old_password">Current password:</span><br />
			{% if form.old_password.errors %}<p class="error">{{ form.old_password.errors }}</p>{% endif %}
			{{ form.old_password }}<br/>
		</div>
		</div>
		<div class="control-group">
		<div class="controls">
			<span for="id_new_password1">New password:</span><br />
			{% if form.new_password1.errors %}<p class="error">{{ form.new_password1.errors }}</p>{% endif %}
			{{ form.new_password1 }}<br/>
		</div>
		</div>
		<div class="control-group">
		<div class="controls">
			<span for="id_new_password2">Confirm password:</span><br />
			{% if form.new_password2.errors %}<p class="error">{{ form.new_password2.errors }}</p>{% endif %}
			{{ form.new_password2 }}<br/>
		</div>
		</div>
		<div class="control-group" >
		<div class="controls" align=left>
			<input id="confirm_pw_2x_submit" type="submit" class="big bg-color-greenLight" style="color:#3CA83C" alt="Change Password Form" value="Save New Password" />
			<br/><br/>
		</div>
		</div>
	</form>

<script type="text/javascript">
  $(document).ready(function(){
	if ( $('.errorlist').length ) {
	  $('input[id=id_old_password]').on('focus',function() {
		$('.error').remove();
		$('.errorlist').remove();
	  });
	  $('input[id=id_new_password1]').on('focus',function() {
		$('.error').remove();
		$('.errorlist').remove();
	  });
	  $('input[id=id_new_password2]').on('focus',function() {
		$('.error').remove();
		$('.errorlist').remove();
	  });
	}
  });
</script>
{% endblock %}