{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}

{% block content %}
<div class="span8">
	<h2 class="dashboard-headings">Reactivating Your Account</h2>
	<section id="reactivate_info">Enter your email address that you used when initially registering for a Molecular Flipbook account.
	We'll send you another activation link to that email address. Once you receive the email from us, 
	just click on the link, and you're good to go.<br /><br />
	
	If your email address is no longer in use, let us know by sending us an email address that you currently use.
	<br /><br />
	<form action="{% url 'reactivate' %}" id="reactivate_form" method="post">{% csrf_token %}
		{% if form.email.errors %}<p class="error">{{ form.email.errors }}</p>{% endif %}
		{{ form.email }}
		<br /><br />
		<div>
			<input type="submit" class="big" alt="Resend Activation Link Form"value="{% trans 'Send Activation Link' %}" /><br /><br /><br />
		</div>
	</form>
	</section>
</div><!--  span8 -->
<div class="span4">
	<div class='span4'>
	<h3 class="dashboard-headings" style="margin-left:0px">Contact us</h3>
	If you have any questions, please
	<a href="mailto: &#109;&#111;&#108;&#101;&#099;&#117;&#108;&#097;&#114;&#102;&#108;&#105;&#112;&#098;&#111;&#111;&#107;&#064;&#103;&#109;&#097;&#105;&#108;&#046;&#099;&#111;&#109;">email the Flipbook team</a>.
	<br /><br />
	</div>
</div><!--  span4 -->
<script type="text/javascript">
  $(document).ready(function(){
	if ( $('.errorlist').length ) {
	  $('input[id=email]').on('focus',function() {
	  	$('.error').remove();
		$('.errorlist').remove();
		//$(this).siblings().eq(0).remove();
	  });
	}
  });
</script>
{% endblock %}