{% extends "base.html" %}
{% load staticfiles %}

{% comment %}
**registration/registration_form.html**
Customized form with checks for required fields,
unique username, hidden password input and match
csrf: cross site request forgery token limits the post
from form to the domain that the form is on so you can't
submit to this form from an external domain. stops
cross site scripting text. use csrf_exempt when needing
to post from external domain
{% endcomment %}

{% block content %}
<section class="registration">
<h1 class="dashboard-headings">Sign Up</h1>
	<div class="container-fluid" >
		<div class="span3" style="padding-top:2em;margin-left:-20px">
			<form action="" id="register-form" method="post">
			{% csrf_token %}
				<div class="control-group">
				<div class="controls">
					{% if form.username.errors %}<p class="error">{{ form.username.errors }}</p>{% endif %}
					{{ form.username }}<br/>
				</div>
				</div>
				<div class="control-group">
				<div class="controls">
					{% if form.email.errors %}<p class="error">{{ form.email.errors }}</p>{% endif %}
					{{ form.email }}<br/>
				</div>
				</div>
				<div class="control-group">
				<div class="controls">
					{% if form.cpassword.errors %}<p class="error">{{ form.cpassword.errors }}</p>{% endif %}
					{{ form.password }}<br/>
				</div>
				</div>
				<div class="control-group">
				<div class="controls">
					{{ form.cpassword }}<br/>
				</div>
				</div>
				<div class="control-group" >
				<div class="controls" align=left>
					<input type="submit" class="big bg-color-greenLight" alt="Registration Form" value="Register Now" />
					<br/><br/>
				</div>
				</div>
				<div class="control-group">
				<div class="controls">
					{% if form.position.errors %}<p class="error">{{ form.position.errors }}</p>{% endif %}
					{{ form.position }}<br/>
				</div>
				</div>
			</form>
		</div><!-- reg form -->
		
		<div id="signup" class="span9" style="padding-left:0em; padding-top:0; padding-bottom:6em; margin-left:20px">
			<h2 class="dashboard-headings" style="margin-left:20px;">Register an account</h2>
			<span class="span3" style="text-align:center">
				<h4 class="signup-headings">Connect. Show.</h4><br />
				<img src="{{ STATIC_URL }}img/connect.png" /><br /><br />
				Register for a free account and show your animations to others.
			</span>
			<span class="span3" style="text-align:center">
				<h4 class="signup-headings">Upload. Revise.</h4><br />
				<img src="{{ STATIC_URL }}img/uploadrevise.png" /><br />
				<br />Upload your source files and any updated versions.
			</span>
			<span class="span3" style="text-align:center">
				<h4 class="signup-headings">Share. Collaborate.</h4><br />
				<img src="{{ STATIC_URL }}img/collaborate.png" /><br /><br />
				Share your source files and animations for others to use.
			</span>
		</div> <!-- reg content -->
	</div>

</section>
<script type="text/javascript">
  $(document).ready(function(){
	$('#id_position').css('visibility','hidden');
  	if ( $('.errorlist').length ) {
	  $('input[type=text]').on('focus',function() {
		$(this).siblings().eq(0).remove();
		$(this).siblings().eq(0).remove();
	  });

	  $('input[type=password]').on('focus',function() {
		$(this).siblings().eq(0).remove();
		$(this).siblings().eq(0).remove();
	  });
	}
  }); //end ready
  
</script>

{% endblock %}
