{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

{% if form.errors %}
<p>Your username [email address] and password didn't match. Please try again.</p>
{% endif %}

<form method="post" action="{% url loginview %}">
{% csrf_token %}
<section class="retryLogin">
	<div class="username">
		{{ form.username.label_tag }}<br /><br />
		{{ form.username }}
	</div>
	<div class="password">
		{{ form.password.label_tag }}<br /><br />
		{{ form.password }}
	</div>
<input type="submit" value="Retry" /><br /><br />
<input type="hidden" name="next" value="{{ next|escape }}" />
</section>
</form>

{% endblock %}