{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
<div class="span8">
	<h2 class="dashboard-headings">About</h2>
	<div>
		<h3 class="dashboard-headings">Molecular Flipbook Website</h3>
		 <!-- <h4>Purpose</h4> -->
		<p style="margin-left:-20px">
		The Molecular Flipbook website invites members of 
		the research and education communities to freely share, view, 
		and edit molecular models and animations with one another. To find out more
		about the Molecular Flipbook application available for download at our website, 
		check out the video below:<br /><br />

		<iframe src="//player.vimeo.com/video/45155977" width="640" height="386" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
	</div>
	<div>
		<h3 class="dashboard-headings">Meet the Team</h3>
		<p style="margin-left:-20px">
		We're a small team of biologists, animators, and programmers 
		based at the University of Utah and Harvard Medical School seeking to change the way 
		biologists create and visualize molecular models.
		<br /><br />
		</p>
		<!-- insert mfb team bio info -->
		<span class='span3 pull-left'><img src="{% static 'img/janet_iwasa.jpg' %}" alt="Janet_Iwasa" /></span>
		<span style="font-weight:bold">Janet Iwasa<br /></span><span style="font-size:small"><span style="font-style:italic">Principal Investigator<br /></span>Department of Biochemistry<br />University of Utah</span>
		<br /><br /><br /><br /><br /><br /><br /><br />
		<span class='span3 pull-left'><img src="{% static 'img/gael_mcgill.jpg' %}" alt="Gael_Mcgill" /></span>
		<span style="font-weight:bold">Gael McGill<br /></span><span style="font-size:small"><span style="font-style:italic">Co-Principal Investigator<br /></span>Department of Biological Chemistry & Molecular Pharmacology<br />Harvard Medical School<br />CEO, Digizyme</span>
		<br /><br /><br /><br /><br /><br /><br />
		<span class='span3 pull-left'><img src="{% static 'img/piotr_sliz.jpg' %}" alt="Piotr_Sliz" /></span>
		<span style="font-weight:bold">Piotr Sliz<br /></span><span style="font-size:small"><span style="font-style:italic">Co-Principal Investigator<br /></span>Children's Hospital, Boston<br />Center for Molecular & Cellular Dynamics, Harvard Medical School<br />Department of Biological Chemistry & Molecular Pharmacology, Harvard Medical School</span>
		<br /><br /><br /><br /><br />
		<span class='span3 pull-left'><img src="{% static 'img/ron_mourant.jpg' %}" alt="Ron_Mourant" /></span>
		<span style="font-weight:bold">Ronald Mourant<br /></span><span style="font-size:small"><span style="font-style:italic">Advisor & Programmer<br /></span>Department of Mechanical & Industrial Engineering<br />Northeastern University</span><br />
		<br /><br /><br /><br /><br /><br /><br />
		<span class='span3 pull-left'><img src="{% static 'img/mike_pan.jpg' %}" alt="Mike_Pan" /></span>
		<span style="font-weight:bold">Mike Pan<br /></span><span style="font-size:small"><span style="font-style:italic">Senior Programmer</span></span><br />
		<br /><br /><br /><br /><br /><br /><br /><br /><br />
		<span class='span3 pull-left'><img src="{% static 'img/rise_riyo.jpg' %}" alt="Rise_Riyo" /></span>
		<span style="font-weight:bold">Rise Riyo<br /></span><span style="font-size:small"><span style="font-style:italic">Web Developer</span></span>
		<br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
	</div>
</div>

<div class="span4">
	<div class='span4'>
	<h2 class="dashboard-headings">Advisory Board</h2>

	<p><span style='font-weight:bold'>Bruce Alberts</span><br />
	<span style='font-size:small'>University of California, San Francisco</span></p>
	<p><span style='font-weight:bold'>Wah Chu</span><br />
	<span style='font-size:small'>Baylor University</span></p>
	<p><span style='font-weight:bold'>Tom Ferrin</span><br />
	<span style='font-size:small'>University of California, San Francisco</span></p>
	<p><span style='font-weight:bold'>Joachim Frank</span><br />
	<span style='font-size:small'>Columbia University & HHMI</span></p>
	<p><span style='font-weight:bold'>Stephen Harrison</span><br />
	<span style='font-size:small'>Harvard Medical School</span></p>
	<p><span style='font-weight:bold'>Tim Mitchison</span><br />
	<span style='font-size:small'>Harvard Medical School</span></p>
	<p><span style='font-weight:bold'>Art Olson</span><br />
	<span style='font-size:small'>Scripps Institute</span></p>
	<p><span style='font-weight:bold'>Amy Vollmer</span><br />
	<span style='font-size:small'>Swarthmore College</span></p>
	<span style='font-size:small'><span style='font-weight:bold'>Len Zon</span><br />
	<span style='font-size:small'>Harvard Medical School</span></p>
	<br /><br />
	</div>
	<div class='span4'>
	<h2 class="dashboard-headings">Sponsors</h2>
	<p <p style="margin-left:-15px">
	This project is supported by the <a class="action-anchors" href="http://www.nsf.gov/" target="_blank">National Science Foundation</a>.
	<br /><br />
	</p>
	</div>
</div><!--  span5 -->
{% endblock %}
