{% load google_analytics %}
<!DOCTYPE html>
<html class="no-js">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<title>Molecular Flipbook: {{ title }}</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width">
	<meta charset="UTF-8">

	{% block css %}
		<link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/themes/ui-lightness/jquery-ui.css">
		<link rel="stylesheet" href="{{ STATIC_URL }}bootstrap/css/bootstrap-tokenfield.css">
		<link rel="stylesheet" href="{{ STATIC_URL }}bootstrap/css/bootstrap.css">
		<link rel="stylesheet" href="{{ STATIC_URL }}bootstrap/css/font-awesome.min.css">
		<link rel="stylesheet" href="{{ STATIC_URL }}css/main.css">
		<link rel="icon" type="image/png" href="{{ STATIC_URL }}img/favicon.png">
	{% endblock css %}

	<!--  fix so that IE 9 and less will properly recognize html5 elements -->
	<!--[if lt IE 9]>
	<script src="dist/html5shiv.js"></script>
	<![endif]-->
	<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>
	<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
	<script src="{{ STATIC_URL }}js/jquery.validate.js"></script>
	<script src="{{ STATIC_URL }}bootstrap/js/bootstrap-tokenfield.js"></script>
	<script src="{{ STATIC_URL }}js/jquery.jtruncate.pack.js"></script>
	<script src="{{ STATIC_URL }}js/trunk8.js"></script>
	<script src="{{ STATIC_URL }}js/lodash.min.js"></script>
	<script src="{{ STATIC_URL }}js/s3upload.js"></script>
	<script src="{{ STATIC_URL }}js/jquery.cookie.js"></script>
	<script src="{{ STATIC_URL }}js/highcharts.js"></script>
	<!--<script src="{{ STATIC_URL }}js/exporting.js"></script>-->
	{% google_analytics %}
</head>
<body>
	<div id="pageContainer">
		{% include "header.html" %}

		{% block content %}
		{% endblock %}

		{% include "footer.html" %}
	</div>  <!-- end pageContainer -->
</body>
</html>