{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
<div class="span8">

	<h2 class="dashboard-headings">Downloads</h2>
	<h4 class="downloads-margin-left">Molecular Flipbook Toolkit Features (Beta Version)</h4><br />
	<span class="span1 downloads-margin-left">
		<img src="{% static 'img/icon_import_32x32.png' %}" />
	</span>
	<span class="span3 downloads-margin-left">
	<strong>PDB Import</strong><br /> Upload molecular structures as PDB files, either from your computer or from the Protein Data Bank database.
	</span>
	<span class="span1" >
		<img src="{% static 'img/icon_blobby_32x32.png' %}" style="padding-left:20px" />
	</span>
	<span class="span3 ">
	<strong>Blobber tool</strong><br />
	Create a “blobby” as a stand-in for proteins that you don’t have a structure file for. All you need to know is a molecular weight or approximate dimensions to create a blobby!
	</span>
	<br /><br /><br /><br /><br /><br /><br /><br />
	<span class="span1 downloads-margin-left">
		<img src="{% static 'img/icon_shader_32x32.png' %}" />
	</span>
	<span class="span3 downloads-margin-left">
	<strong>Animate colors and shaders</strong><br />
	It’s easy to animate your molecules changing color (to signify activation, for example) and to change its look using the Shader tool.
	</span>
	<span class="span1 ">
		<img src="{% static 'img/icon_tutorial_32x32.png' %}" style="padding-left:20px" />
	</span>
	<span class="span3 ">
	<strong>In-app tutorials</strong><br />
	The in-application tutorials launch automatically and will walk you through how to use Flipbook.
	</span>
	<br /><br /><br /><br /><br /><br /><br /><br />
	<span class="span1 downloads-margin-left">
		<img src="{% static 'img/icon_video_32x32.png' %}" />
	</span>
	<span class="span3 downloads-margin-left">
	<strong>Save your animation as a video</strong><br />
	Once you create your animation, you can export it as a movie file that you can then embed in presentations and share with others!
	</span>
	<span class="span1 ">
		<img src="{% static 'img/icon_slide_32x32.png' %}" style="padding-left:20px" />
	</span>
	<span class="span3 ">
	<strong>Slide-based animation</strong><br />
	If you’ve ever used Powerpoint or Keynote, you’ll already be an expert in creating animations in Molecular Flipbook.
	</span>
	<br /><br /><br /><br /><br /><br /><br /><br />
	<span class="span1 downloads-margin-left">
		<img src="{% static 'img/icon_marker_32x32.png' %}" />
	</span>
	<span class="span3 downloads-margin-left">
	<strong>Create protein markers</strong><br />
	Create and animate protein markers that can indicate, for example, where post-translational modifications are made.
	</span>
	<br /><br /><br /><br /><br /><br />

	<hr />
	<h4>Features that we’re currently working on</h4>
	<p>To be notified when we release updated versions of Molecular Flipbook, please send us an email at molecularflipbook@gmail.com</p><br /><br />

	<span class="span1 downloads-margin-left">
		<img src="{% static 'img/icon_linker_32x32.png' %}" />
	</span>
	<span class="span3 downloads-margin-left">
	<strong>Linker tool</strong><br />
	Create a dynamic and flexible linker that connects two domains of a protein.
	</span>
	<span class="span1 ">
		<img src="{% static 'img/icon_cut_32x32.png' %}" style="padding-left:15px" />
	</span>
	<span class="span3 ">
	<strong>Cut chains</strong><br />
	Create two different surfaces from a single chain – this can be useful to animate domains separately, for example.
	</span>
	<br /><br /><br /><br /><br /><br />
	<span class="span1 downloads-margin-left">
		<img src="{% static 'img/icon_biomt_32x32.png' %}" />
	</span>
	<span class="span3 downloads-margin-left">
	<strong>Create biological units</strong><br />
	Create larger biological assemblies (of virus capsids, for instance) using the BIOMT coordinates inside a PDB.
	</span>
	<span class="span1 ">
		<img src="{% static 'img/icon_marker_32x32.png' %}" style="padding-left:20px" />
	</span>
	<span class="span3 ">
	<strong>Import additional filetypes</strong><br />
	Import geometry files, such as reconstructions from the EMDB, or other files (such as .stl) that may have been generated in another program.
	</span>
	<br /><br /><br /><br /><br /><br /><br /><br />
</div>
	<div style="margin-left:-15px">
	</div>
<div class="span4">
	<div class="span4">
		<h3 class="dashboard-headings">Molecular Flipbook</h3>
		<p  style="margin-left:-15px">
		<caption><i>An open source 3D animation software using the Blender Game Engine</i></caption>
		<br /><br />
		<a class="file-wrapper" href="https://www.dropbox.com/s/zlgvd82z703col7/MolecularFlipbook0.2Mac.zip" alt="download MFB for Mac" style="align:center;padding-left:40px"><span id="downloadmac" class="browsebtn" style="text-align:center; width:180px;height:50px;line-height:50px;font-size:12px">Download v0.2 for Mac</span></a>
		<br /><br />
		<a class="file-wrapper" href="https://www.dropbox.com/s/4aflwpzjug6vqfv/MolecularFlipbook0.2Windows.exe" alt="download MFB for Windows" style="align:center;padding-left:40px"><span id="downloadwin" class="browsebtn" style="text-align:center; width:180px;height:50px;line-height:50px;font-size:12px">Download v0.2 for Windows</span></a>
		<br /><br />
		<!--
		<a class="file-wrapper" href="" alt="download MFB for Linux" style="align:center;padding-left:40px"><span id="downloadlin" class="browsebtn" style="text-align:center; width:180px;height:50px;line-height:50px;font-size:12px">Download v0.2 for Linux</span></a>
		<br /><br />
		-->
		Molecular Flipbook is a free and open-source molecular animation software 
		toolkit that has been specifically designed with the needs of biology 
		researchers in mind.
		<br /><br />
		</p>
	</div>
	<div class="span4">
		<h3 class="dashboard-headings">Help</h3>
		<p  style="margin-left:-15px">
		Check out our <a href="{% url 'helpfaq' %}" >Help page</a> if you have questions.
		<br /><br />
		</p>
	</div>
</div>
{% endblock %}
