{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
<div class="span8">
	<h2 class="dashboard-headings">Frequently Asked Questions</h2>
	<h3 class="dashboard-headings">Account Info</h3>
	<div style="margin-left:-20px">
		<strong>I forgot my password. How do I reset it?</strong><br />
		You can reset your password by clicking this link: <a href="{% url 'password_reset' %}" >Reset Your Password</a><br /><br />

		<strong>My registered email address is no longer in use, and I forgot my password. What do I do?</strong><br />
		Send us your current email address at molecularflipbook@gmail.com. We'll notify you when your email address is registered into our system. Then, you can: <a href="{% url 'password_reset' %}" >Reset Your Password</a><br /><br />

		<strong>My account doesn't seem to be activated. How do I activate it?</strong><br />
		You can activate your account by clicking this link: <a href="{% url 'reactivate' %}" >Reactivate My Account</a><br /><br />
	</div><br /><br />
</div><!--  span7 -->
<div class="span4">
	<div class='span4'>
	<h3 class="dashboard-headings" style="margin-left:0px">Contact us</h3>
	If you have any questions, please
	<a href="mailto: &#109;&#111;&#108;&#101;&#099;&#117;&#108;&#097;&#114;&#102;&#108;&#105;&#112;&#098;&#111;&#111;&#107;&#064;&#103;&#109;&#097;&#105;&#108;&#046;&#099;&#111;&#109;">email the Flipbook team</a>.
	<br /><br />
	</div>
</div><!--  span5 -->
{% endblock %}