{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
<div class="span8">
	<h2 class="dashboard-headings">Frequently Asked Questions</h2>
	<h3 class="dashboard-headings">File Uploads to Molecular Flipbook</h3>
	<div style="margin-left:-20px">
		<strong>What types of formats are allowed for a scene file?</strong><br />
		We currently allow file types of .flipbook (Molecular Flipbook), .blend (Blender), .ma/.mb (Maya),
		 .c4d (Cinema 4D), .max/.3ds (3D Studio Max), .dae (Collada), .x3d (Web3D), .pdf (Acrobat), .key (Keynote), .ppt/pptx (Powerpoint), 
		 .ai (Illustrator), .psd/.eps (Photoshop), .xcf (Gimp).<br /><br />

		<strong>What is the maximum size for a scene file?</strong><br />
		The maximum size for a thumbnail file is 100 megabytes.<br /><br />

		<strong>What types of formats are allowed for a video file?</strong><br />
		We currently allow file types of .avi, .mov, .mp4, and .wmv.<br /><br />

		<strong>What is the maximum size for a video file?</strong><br />
		The maximum size for a thumbnail file is 5 megabytes.<br /><br />

		<strong>What is the ratio for a video file?</strong><br />
		The recommended ratio for a video file is 4:3.<br /><br />

		<strong>What types of formats are allowed for a thumbnail file?</strong><br />
		We currently allow file types of .gif, .jpg, and .png.<br /><br />

		<strong>What is the maximum size for a thumbnail file?</strong><br />
		The maximum size for a thumbnail file is 5megabytes.<br /><br />

		<strong>What is the ratio for a thumbnail file?</strong><br />
		The recommended ratio for a thumbnail file is 4:3.<br /><br />
	</div><br /><br />
</div><!--  span7 -->
<div class="span4">
	<div class='span4'>
	<h3 class="dashboard-headings" style="margin-left:0px">Contact us</h3>
	If you have any questions, please
	<a href="mailto: &#109;&#111;&#108;&#101;&#099;&#117;&#108;&#097;&#114;&#102;&#108;&#105;&#112;&#098;&#111;&#111;&#107;&#064;&#103;&#109;&#097;&#105;&#108;&#046;&#099;&#111;&#109;">email the Flipbook team</a>.
	<br /><br />
	</div>
</div><!--  span5 -->
{% endblock %}