{% load staticfiles %}

{% block footer %}
<footer>
	<div class="span5" id="copyright">Copyright &#169; 2014 The Molecular Flipbook Team.</div>
	<span class="span5">
		<a href="http://www.nsf.gov/" target="_blank">
	<img src="{% static 'img/nsf_banner.png' %}" alt="nsf banner" /></a>
	<a href="http://www.djangoproject.com/" target="_blank">
	<img style="margin-left:40px" src="https://www.djangoproject.com/m/img/badges/djangoproject120x25_grey.gif" border="0" alt="A Django project." title="A Django project." /></a>
	</span>
</footer>
{% endblock %}