{% extends "base.html" %}

{% block content %}
<section class="forumSoftware">
<h1>MFB Forum</h1>
	<section class="announcements">
	<h3>Announcements</h3>
	<p>
	"Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed 
	do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
	Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris 
	nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor 
	in reprehenderit in voluptate velit esse cillum dolore eu fugiat 
	nulla pariatur. Excepteur sint occaecat cupidatat non proident, 
	sunt in culpa qui officia deserunt mollit anim id est laborum."
	</p>
	</section>
	<section class="topics">
	<h3>Topics</h3>
	<p>
	"Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed 
	do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
	Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris 
	nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor 
	in reprehenderit in voluptate velit esse cillum dolore eu fugiat 
	nulla pariatur. Excepteur sint occaecat cupidatat non proident, 
	sunt in culpa qui officia deserunt mollit anim id est laborum."
	</p>
	</section>
</section>
{% endblock %}
