{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
<div class="span8">
	<h2 class="dashboard-headings">Frequently Asked Questions</h2>
	<h3 class="dashboard-headings">Community Guidelines</h3>
	<div style="margin-left:-20px">
	<strong>I want to share my file with others. What do I need to do?</strong><br />
	You can share with others who can then download your most recent version of your scene file from the publically available Library. Just log into your Flipbook account, click
	on Uploads under your Bookshelf, and upload your scene file.<br /><br />

	<strong>How do I collaborate with others?</strong><br />
	You and your collaborators can download the scene file that you plan to collaborate on from the Library. When you've finished uploading the modified scene file to your account, 
	your collaborators can then view that recent version in the Library and download it for themselves.<br /><br />

	</div><br /><br />

</div><!--  span7 -->
<div class="span4">
	<div class='span4'>
	<h3 class="dashboard-headings" style="margin-left:0px">Contact us</h3>
	If you have any questions, please
	<a href="mailto: &#109;&#111;&#108;&#101;&#099;&#117;&#108;&#097;&#114;&#102;&#108;&#105;&#112;&#098;&#111;&#111;&#107;&#064;&#103;&#109;&#097;&#105;&#108;&#046;&#099;&#111;&#109;">email the Flipbook team</a>.
	<br /><br />
	</div>
</div><!--  span5 -->
{% endblock %}