{% block header %}
{% load staticfiles %}
<div id="wrapper">
	<header id="mainHeader">
		<div class="grid">
			<div class="row">

				<div class="span8" style="margin:0">
					<img id="bannerImg" src="{% static 'img/mfblogo256.png' %}" alt="mfb_logo" style="margin-top:20px"/>
				</div>

				<div class="span4 bg-color-blueLight" style="margin-right:0px; margin-left:20px; margin-bottom:0; padding:20px; padding-bottom:0; ">

					<form method="get" action="{% url 'acsearch' %}" id="searchForm" class="form-search">
						<div class="input-append">
						    <input id="search" type="text" name="q" class="span3 input-medium"  tabindex="50" placeholder="Search" autocomplete="off">
							<button class="btn" type="submit" value="search"><i class="icon-search"></i></button>
						</div>
						<ul class="ui-autocomplete ui-front ui-menu ui-widget ui-widget-content ui-corner-all" id="ui-id-1" tabindex="0" style="display: none;"></ul>
					</form>
					
					{% if user.is_authenticated %}
					<div class="container span4">
						<div class="row">
						<div class="btn-group span4">
						{% if user.is_staff %}
							<a href="#" class="span2 btn dropdown-toggle" id="dLabel" role="button" data-toggle="dropdown"><img {% if user.userpic %} src="{{ user.userpic }}"  {% else %} src="{% static 'img/avatar_user_27x27.png' %}" {% endif %} alt={{ user.username }} />     {{ user.username }}     <span class="caret"></span></a>
								<ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
									<li><a href="{% url 'dashboard' %}" tabindex="-1"><i class="icon-home"></i> {{ user.username }}'s Dashboard</a>
									<li><a href="{% url 'upload' %}" tabindex="-1"><i class="icon-upload"></i> Upload</a></li>
									<li><a href="{% url 'uploadsmanager' %}" tabindex="-1"><i class="icon-facetime-video"></i> Uploads Manager</a></li>
									<li><a href="{% url 'user_settings' %}" tabindex="-1"><i class="icon-cog"></i>Settings</a></li>
									<li><a href="{% url 'admin_settings' %}"><i class="fa fa-vimeo-square"></i> Admin Utilities</a></li>	
									<li><a href="/logout/" tabindex="-1"><i class="icon-signout"></i> Logout</a></li>
								</ul>
						{% else %}
							<a href="#" class="span2 btn dropdown-toggle" id="dLabel" role="button" data-toggle="dropdown"><img {% if user.userpic %} src="{{ user.userpic }}"  {% else %} src="{% static 'img/avatar_user_27x27.png' %}" {% endif %} alt={{ user.username }} />     {{ user.username }}     <span class="caret"></span></a>
								<ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
									<li><a href="{% url 'dashboard' %}" tabindex="-1"><i class="icon-home"></i> {{ user.username }}'s Dashboard</a>
									<li><a href="{% url 'upload' %}" tabindex="-1"><i class="icon-upload"></i> Upload</a></li>
									<li><a href="{% url 'uploadsmanager' %}" tabindex="-1"><i class="icon-facetime-video"></i> Uploads Manager</a></li>
									<li><a href="{% url 'user_settings' %}" tabindex="-1"><i class="icon-cog"></i>Settings</a></li>
									<li><a href="/logout/" tabindex="-1"><i class="icon-signout"></i> Logout</a></li>
						{% endif %}
						</div>
						</div>
					</div>
					{% else %}
						<div align="center">
							<ul class="nav nav-pills" style="margin-bottom:0px">
								<li><a href="{%  url 'login' %}?next={{ request.get_full_path }}" > Login </a>
								<li><a href="{% url 'register' %}" class="">Sign Up</a></li>
								<li><a href="{% url 'login' %}?next=my_bookshelf/upload" class="fg-color-darken">Upload</a></li>
							</ul>
						</div>
					{% endif %}
				</div> <!-- end span -->
			</div> <!-- end row -->

			<div class="row">
				<nav id="mainNav">
					 <div class="navbar" >
						<div class="navbar-inner" style="background-color:3CA83C">
							<ul class="nav" >
								<li ><a href="{% url 'home' %}">Home</a></li>
								<li><a href="{% url 'about' %}">About</a></li>
								<li><a href="{% url 'downloads' %}">Download</a></li>
								<li><a href="{% url 'library' %}">Library</a></li>
								<li><a href="{% url 'tutorial' %}">Tutorials</a></li>
								<li><a href="{% url 'news' %}">News</a></li>
								<li><a href="{% url 'helpfaq' %}">Help</a></li>
							</ul>
						</div>
					</div>
				</nav>
			</div>

		</div> <!-- end div grid -->
	</header>
</div>
<script type="text/javascript">
  $(function() {
    $( "#search" ).autocomplete({
      source: function( request, response ) {
        $.ajax({
          url: "{% url 'acsearch' %}",
          dataType: "json",
          data: {
            featureClass: "P",
            style: "full",
            maxRows: 12,
            q: request.term.toLowerCase(),
          },
          success: function( data ) {
          	if ( data.results != undefined ){
          	  //console.log("data.results:", data.results);
              response( $.map( data.results, function(item){
              	//console.log("item: ", item)
                return { label: item, value: item,}
              })); //end response
          	} //end if
          }, //end success
          error: function () {
              output.html('<h2 class="error">There was an error loading the data.</h2>');
          }
        }); //end .ajax fn
      }, //end source
      minLength: 2,
      select: function( event, ui ) {

        $("#search").val(ui.item.value);
        $("#searchForm").submit();
      },
      open: function() {
        $( this ).removeClass( "ui-corner-all" ).addClass( "ui-corner-top" );
      },
      close: function() {
        $( this ).removeClass( "ui-corner-top" ).addClass( "ui-corner-all" );
      }
    }); //end autocomplete fn
  }); //end main fn
</script>
{% endblock %} <!-- block header -->
