{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
<div class="span8">
	<h2 class="dashboard-headings">Help Center</h2>
	<h3 class="dashboard-headings">Flipbook Software Questions</h3>
	<div style="margin-left:-20px">
		<a href="{% url 'mfb_app' %}" >How do I ...?</a>: <span>Answers for Flipbook users</span><br /><br />
		<a href="{% url 'mfb_issues' %}" >Known Issues</a>: <span>Troubleshooting</span><br /><br />
	</div>
	<h3 class="dashboard-headings">Frequently Asked Questions</h3>
	<div style="margin-left:-20px">
		<a href="{% url 'faqs' %}" >Account Info</a>: <span>Your questions might have already been answered.</span><br /><br />
		<a href="{% url 'fileuploads' %}" >File Uploads to MFB</a>: <span>Answers to uploading files.</span><br /><br />
		<a href="{% url 'tags' %}" >Tags</a>: <span>Give your animations a tag.</span><br /><br />
		<a href="{% url 'guidelines' %}" >Community Guidelines</a>: <span>Sharing and collaborating with others.</span><br /><br />
	</div>


	<h3 class="dashboard-headings"></h3>
	<div style="margin-left:-15px">
	</div>
	

</div><!--  span7 -->
<div class="span4">
	<div class='span4'>
	<h3 class="dashboard-headings" style="margin-left:0px">Contact us</h3>
	If you have any questions, please
	<a href="mailto: &#109;&#111;&#108;&#101;&#099;&#117;&#108;&#097;&#114;&#102;&#108;&#105;&#112;&#098;&#111;&#111;&#107;&#064;&#103;&#109;&#097;&#105;&#108;&#046;&#099;&#111;&#109;">email the Flipbook team</a>.
	<br /><br />
	</div>
</div><!--  span5 -->
{% endblock %}
