{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
<span class="span4" style="text-align:center">
	<strong>
		<a href="{% url 'downloads' %}" class="icon-wrapper"><img src="{{ STATIC_URL }}img/download.png" class="img-highlight" /><br />Download</a><br />
	</strong>
	<div style="padding-top:100px;">
	Our animation toolkit is free and easy to use.<br />
	Available for Mac and Windows-based PCs.
	</div>
</span>
<span class="span4" style="text-align:center">
	<strong>
		<a href="{% url 'tutorial' %}" class="icon-wrapper"><img src="{{ STATIC_URL }}img/animate.png" class="img-highlight"/><br />Animate</a></strong><br />
	</strong>
	<div style="padding-top:100px;">
		Watch tutorials and download sample files to get started!<br />
	</div>
</span>
<span class="span4" style="text-align:center">
	<strong>
		<a href="{% url 'library' %}" class="icon-wrapper"><img src="{{ STATIC_URL }}img/share.png" class="img-highlight" /><br />Share</a><br />
	</strong>
	<div style="padding-top:100px;">
	Collaborate on animations with others!<br />
	</div><br /><br /><br />
</span>
<div class="span8">
<h2 class="dashboard-headings">Check out the Flipbook Demo!</h2>
<p id="demovid"><iframe src="//player.vimeo.com/video/88686999?title=0&byline=0&portrait=0&autoplay=1&loop=1" width="640px" height="355px" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe></p><br />
	{% if feature %}
		<h2 class="dashboard-headings" style="margin-left:-20px">Featured Animation</h2>
		<h5 style="margin-left:-20px"> <a id="feature-animation" href="{% url 'subinfo' subPk=subpk revPk=revpk %}">{{ subtitle }}</a></h5>
		<span class="span5" style="margin-left:-20px">
			<div>
				{% if revItem.vimeoid  %}
					{% if oembed %}
						{{ oembed | safe }}
					{% else %}
						<a href="{% url 'subinfo' subPk=subpk revPk=revpk %}" title="{{ subtitle }}">
						<img src="{{ revItem.thumb_large }}" alt="{{ subtitle }}" /></a>
					{% endif %}
				{% else %}
						<a href="{% url 'subinfo' subPk=subpk revPk=revpk %}" title="{{ subtitle }}">
						<img src="{{ revItem.thumb_large }}" alt="{{ subtitle }}" /></a>
				{% endif %}
				</a><br />

			</div>
		</span>
		<span class="span3" style="padding-top:0px; padding-bottom: 150px;">

				<span class="smallfontstyle"><strong>Username</strong>: <a href="{% url 'browse_user' pk=subUser.pk %}">{{ subUser }}</a></span><br />
				<span class="smallfontstyle"><strong>Submitted</strong>: {{ subcreated }}</span><br />
				<span class="smallfontstyle"><strong>Filetype</strong>: {{ filetype }}</span><br />
				<p class="description-wrapper"><span class="smallfontstyle"><strong>Description</strong>: {{ subdescription }}</span></p>
		</span>
	{% else %}
		<span class="span5" style="margin-left:-20px">
			<h3 class="dashboard-headings" >Featured Animation</h3>
			<div>
			<h5>Title: No data</h5>
			<a href="" ><img src="" /> </a><br /><br />
			Username: No data<br />
			Submitted: No data<br /><br />
			<p>
			Description: No data
			</p>
			</div>
		</span>
		<span class="span3" style="padding-top:100px; padding-bottom:150px">

				<span class="smallfontstyle"><strong>Username</strong>: <a href="#" >None</a></span><br />
				<span class="smallfontstyle"><strong>Submitted</strong>: None</span><br />
				<span class="smallfontstyle"><strong>Filetype</strong>: None</span><br />
				<p class="description-wrapper"><span class="smallfontstyle"><strong>Description</strong>: None</span></p>
		</span>
	{% endif %}
	{% if tutorial %}
		<br />
		<h2 class="dashboard-headings" style="margin-left:-20px;">Featured Tutorial</h2>
		<h5 style="margin-left:-20px"> <a id="feature-animation" href="{% url 'tutinfo' tutPk=tutpk %}">{{ tuttitle }}</a></h5>
		<span class="span5" style="margin-left:-20px">
			<div>
				{% if tutvimeo  %}
					{% if tutiframe %}
						{{ tutiframe | safe }}
					{% else %}
						<a href="{% url 'tutinfo' tutPk=tutpk %}" title="{{ subtitle }}">
						<img src="{{ revItem.thumb_large }}" alt="{{ subtitle }}" /></a>
					{% endif %}
				{% else %}
						<a href="{% url 'tutinfo' tutPk=tutpk %}" title="{{ subtitle }}">
						<img src="{{ revItem.thumb_large }}" alt="{{ subtitle }}" /></a>
				{% endif %}
				</a><br />
			</div>
		</span>
		<span class="span3" style="padding-top:0px; padding-bottom:150px">
				<span class="smallfontstyle"><strong>Submitted</strong>: {{ tutmodified }}</span><br />
				<span class="smallfontstyle"><strong>Filetype</strong>: {{ filetype }}</span><br />
				<p class="description-wrapper"><span class="smallfontstyle"><strong>Description</strong>: {{ tutcomments }}</span></p>
		</span>
	{% else %}
		<span class="span5" style="margin-left:-20px">
			<h3 class="dashboard-headings" >Featured Tutorial</h3>
			<div>
			<h5>Title: No data</h5>
			<a href="" ><img src="" /> </a><br /><br />
			Submitted: No data<br /><br />
			<p>
			Description: No data
			</p>
			</div>
		</span>
		<span class="span3" style="padding-top:50px; padding-bottom:150px">
				<span class="smallfontstyle"><strong>Submitted</strong>: None</span><br />
				<span class="smallfontstyle"><strong>Filetype</strong>: None</span><br />
				<p class="description-wrapper"><span class="smallfontstyle"><strong>Description</strong>: None</span></p>
		</span><br /><br /><br />
	{% endif %}
</div>
<div class="span4">
	<div id='sidebar-submits' class='submits-list span4'>
		<h2><a href="{% url 'library' %}" class='anchtest'>Browse the Library</a></h2>
		<div id="side-thesubmits-wrapper" class="span5">
			{% if submissions %}
				<!-- <ul id="side-thesubmits"> -->
				{% for subItem in submissions|slice:":6" %}
					<div class="side-submits-element span2.5" style="margin-left:0px">
						{% for revItem in subItem.revisions.all|dictsortreversed:"created"|slice:":1" %} 
							<a class="sublinks" href="{% url 'subinfo' subPk=subItem.pk revPk=revItem.pk %}" title="{{ subItem.title }}"><img src="{{ revItem.thumb_small }}" class="side-col-thumbnail" alt="{{ subItem.title }}" /></a>
							<br />
						{% endfor %}
					</div>
					<!-- </ul> -->
					<div class="side-submits-element home-wrapper"  data-title="{{ subItem.title }}" data-user="{{ subItem.user }}">
					{% for revItem in subItem.revisions.all|dictsortreversed:"created"|slice:":1" %}
							<a class="title-sublinks" href="{% url 'subinfo' subPk=subItem.pk revPk=revItem.pk %}" title="{{ subItem.title }}"></a>
					{% endfor %}
					</div>
				{% endfor %}
			{% else %}
				<div class="span1">
				<a href="" ><img src="" alt="No data" /> </a>
				<br /><br />
				</div>
			{% endif %}
		</div>
		<div class='span5'>
		<a class="action-anchors" href="{% url 'library' %}">View more</a>
		<br /><br />
		</div>
	</div>
	<div class='span4'>
		<h2><a href="{% url 'about' %}" class='anchtest dashboard-headings"'>About</a></h2>
		<p>
		We're a small team of biologists, animators and programmers
		based at the University of Utah and Harvard Medical School seeking to change the way
		biologists create and visualize molecular models.
		<a class="action-anchors" href="{% url 'about' %}">Read more</a>
		</p>
	</div>
</div><!--  span5 -->
<script type="text/javascript">
$(document).ready(function() {
	$('div.home-wrapper').each(function(){
		var $this = $(this);
		var title = $this.data('title'); //$this.attr('title').val(); $this.data('title');
		var user = $this.data('user');
		console.log(title);
		console.log(title.length);
		if (title.length <= 56){
			$this.find('.title-sublinks').append('<span class="add-title"> ' + title + '</span><br /><br /><br /><br />');
		} else if (title.length >= 57 && title.length <= 112) {
			$this.find('.title-sublinks').append('<span class="add-title"> ' + title + '</span><br /><br /><br />');
		} else if (title.length >= 113 && title.length <= 224) {
			$this.find('.title-sublinks').append('<span class="add-title"> ' + title + '</span><br /><br />');
		}
		$('.add-title').trunk8({lines:3}); 
	}); //end each
	$('.description-wrapper').children('span').jTruncate({
		length: 120,
		minTrail: 0,
		moreText: "[read more]",
		lessText: "[read less]",
		ellipsisText: "...",
		moreAni: "fast",
		lessAni: "fast"
	});

	//$(".featurevid").on("mouseleave", function(e){
	//  var i = 0;
	//  var url = $(this).attr("src");
	//  console.log(url);
	//  if ( (i = $(this).attr("src").indexOf("?") ) > 0 ) {
	//	console.log(i);
	//	$(this).attr({
	//	  "src": url,
	//	});
	//  }
	//});
}); //end doc-ready
</script>
{% endblock %}
