{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
<div id="main-submits" class="submits-list span9">
	<h2 class="dashboard-headings" style="margin-left:-20px;">Browse the Library</h2>
	<nav id="libraryNav" style="margin-left:-20px">
		 <div class="navbar" >
			<div class="navbar-inner" style="background-color:3CA83C">
				<ul class="nav" >
					<li id='view'><a href="{% url 'browse_viewed' %}" class='dynamic'>Most Viewed</a></li>
					<!--<li id='faved'><a href="">Most Faved</a></li>-->
					<li id='age'><a href="{% url 'browse_recent' %}">Most Recent</a></li>
					<li id='staff'><a href="{% url 'browse_staffpicks' %}">Staff Picks</a></li>
				</ul>

			</div>
		</div>
	</nav>
	<div id="library-submits-wrapper">
		{% if mostviews %}
			{% if views %}
				<ul id="library-submits">
				{% for view in views %}
					{% for revItem in view.revisions.all|dictsortreversed:"created"|slice:":1" %}
						<li class="library-submits-elements">
							<a class="library-submits-links" href="{% url 'subinfo' subPk=view.pk revPk=revItem.pk %}" title="{{ view.title }}"><img class="library-submits-thumbnail" src="{{ revItem.thumb_medium }}" alt="{{ view.title }}" /><div class="library-title-wrapper" data-title="{{ view.title }}" style="font-size:15px"></div></a>
						</li>
					{% endfor %}
				{% endfor %}
				 </ul>
			{% else %}
				<div class="span2">
				<a href="" ><img src="" alt="No data" /> </a>
				<br /><br />
				</div>
			{% endif %}
		{% endif %}
		{% if recent %}
			{% if submissions %}
				<ul id="library-submits">
				{% for subItem in submissions %}
					{% for revItem in subItem.revisions.all|dictsortreversed:"created"|slice:":1" %}
						<li class="library-submits-elements">
							<a class="library-submits-links" href="{% url 'subinfo' subPk=subItem.pk revPk=revItem.pk %}" title="{{ subItem.title }}"><img class="library-submits-thumbnail" src="{{ revItem.thumb_medium }}" alt="{{ subItem.title }}" /><div class="library-title-wrapper" data-title="{{ subItem.title }}" style="font-size:15px"></div></a>
						</li>
					{% endfor %}
				{% endfor %}
				 </ul>
			{% else %}
				<div class="span2">
				<a href="" ><img src="" alt="No data" /> </a>
				<br /><br />
				</div>
			{% endif %}
		{% endif %}
		{% if stafffaves %}
			{% if staffpicks %}
				<ul id="library-submits">
				{% for staffpick in staffpicks %}
					{% for revItem in staffpick.revisions.all|dictsortreversed:"created"|slice:":1" %}
						<li class="library-submits-elements">
							<a class="library-submits-links" href="{% url 'subinfo' subPk=staffpick.pk revPk=revItem.pk %}" title="{{ staffpick.title }}"><img class="library-submits-thumbnail" src="{{ revItem.thumb_medium }}" alt="{{ staffpick.title }}" /><div class="library-title-wrapper" data-title="{{ staffpick.title }}" style="font-size:15px"></div></a>				
						</li>
					{% endfor %}
				{% endfor %}
				<!--  Username: {{ staffpick.user }}<br />
				Submitted: {{ staffpick.created }}<br /><br />-->
				</ul>
			{% else %}
				<div class='span1'>
				<a href="" ><img src="" /> </a><br /><br />
				Username: No data<br />
				Submitted: No data<br /><br />
				</div>
			{% endif %}
		{% endif %}
		{% if usersubs %}
			{% if usersubmissions %}
				<ul id="library-submits">
				{% for usersub in usersubmissions %}
					{% for revItem in usersub.revisions.all|dictsortreversed:"created"|slice:":1" %}
						<li class="library-submits-elements">
							<a class="library-submits-links" href="{% url 'subinfo' subPk=usersub.pk revPk=revItem.pk %}" title="{{ usersub.title }}"><img class="library-submits-thumbnail" src="{{ revItem.thumb_medium }}" alt="{{ usersub.title }}" /><div class="library-title-wrapper" data-title="{{ usersub.title }}" style="font-size:15px"></div></a>				
						</li>
					{% endfor %}
				{% endfor %}
				<!--  Username: {{ staffpick.user }}<br />
				Submitted: {{ staffpick.created }}<br /><br />-->
				</ul>
			{% else %}
				<div class='span1'>
				<a href="" ><img src="" /> </a><br /><br />
				Username: No data<br />
				Submitted: No data<br /><br />
				</div>
			{% endif %}
		{% endif %}
		{% if browsetags %}
			<!-- <h2>Staff Picks</h2> -->
			{% if tagsubmissions %}
				<ul id="library-submits">
				{% for submission in tagsubmissions %}
					{% for revItem in submission.revisions.all|dictsortreversed:"created"|slice:":1" %} 
						<li class="library-submits-elements">
							<a class="library-submits-links" href="{% url 'subinfo' subPk=submission.pk revPk=revItem.pk %}" title="{{ submission.title }}"><img class="library-submits-thumbnail" src="{{ revItem.thumb_medium }}" alt="{{ submission.title }}" /><div class="library-title-wrapper" data-title="{{ submission.title }}"></div></a>				
						</li>
					{% endfor %}
				{% endfor %}
				</ul>
			{% else %}
				<div class='span1'>
				<a href="" ><img src="" /> </a><br /><br />
				Username: No data<br />
				Submitted: No data<br /><br />
				</div>
			{% endif %}
		{% endif %}
	</div><!--  library-submits-wrapper -->
</div><!--  span7 -->

<div class="span3">
	<div id="sidebar-tags" class='tag-list span3'>
		<h2 class="dashboard-headings">Browse by tag</h2>
		<div id="thetags-wrapper">
		{% if submissions %}
		<ul id="thetags">
			{% for tag in tags %}
				{% if forloop.counter0 <= 49 %}
					<li class="tag-element">
					<span class="tag-wrapper"><a href="{% url 'browse_submissions_of_tag' pk=tag.pk %}" >{{ tag.tagname }}</a></span>
					</li> 
				{% elif forloop.counter0 == 50 %}
					<li class="tag-element">
					<span class="tag-wrapper"><a href="{% url 'browse_submissions_of_tag' pk=tag.pk %}" >{{ tag.tagname }}</a></span>
					</li>
				{% endif %}
			{% endfor %}
		</ul>
		{% endif %}
		</div>
	</div>
</div><!--  span5 -->
<script type="text/javascript">
$(document).ready(function() {
	$('.library-title-wrapper').each(function(){
		var $this = $(this);
		var title = $this.data('title'); //$this.attr('title').val(); $this.data('title');
		//var user = $this.data('user');
		console.log(title);
		console.log(title.length);
		//$this.append(title);
		if (title.length <= 30){
			$this.append(title + "<br /><br />");
			$this.trunk8({lines:2}).css("height","28px");
		} else if (title.length >= 31 && title.length <= 61) {
			$this.append(title);
			$this.trunk8({lines:2}).css("height","28px");
		} else if (title.length >= 62) {
			$this.append(title);
			$this.trunk8({lines:2});
		}
	}); //end each
}); //end doc-ready
</script>
{% endblock %}
