{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
<div class="span8">
	<h2 class="dashboard-headings">Flipbook Software Questions</h2>
	<h3 class="dashboard-headings">How Do I ...?</h3>
	<div style="margin-left:-20px">
		<strong>Running the Molecular Flipbook Software Application</strong><br />
		<ul><li>Windows: </li>
		<ul>
		<li>Download the application.</li>
		<li>Launch the installer. It will install the software and create shortcuts in the Start menu.</li>
		<li>Run the application using the shortcut, <strong>Flipbook</strong></li>
		</ul>
		<br />
		<li>Mac:<br />
		<ul>
		<li>Extract the application from the zip folder. Optionally, drag the green application icon to the Application folder.</li>
		<li>Run the application by clicking on the <strong>Flipbook</strong> icon.</li>
		</ul>
		</ul>
		<br />

		<strong>Where is my Flipbook animation video stored?</strong><br />
		After Flipbook has been started for the first time, it will create a folder under ~/Flipbook/ (Mac), C:/UserName/Flipbook (Windows XP), and 
		C:/Document and Settings/UserName/ (Windows 7 and up) as its temporary folder. Program data, error log, data cache, 
		and finished videos will be stored to this folder. This folder serves as a cache to speed up future access to data.
		<br /><br />
	</div><br /><br />
</div><!--  span7 -->
<div class="span4">
	<div class='span4'>
	<h3 class="dashboard-headings" style="margin-left:0px">Contact us</h3>
	If you have any questions, please
	<a href="mailto: &#109;&#111;&#108;&#101;&#099;&#117;&#108;&#097;&#114;&#102;&#108;&#105;&#112;&#098;&#111;&#111;&#107;&#064;&#103;&#109;&#097;&#105;&#108;&#046;&#099;&#111;&#109;">email the Flipbook team</a>.
	<br /><br />
	</div>
</div><!--  span5 -->
{% endblock %}