{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
<div class="span8">
	<h2 class="dashboard-headings">Flipbook Software Questions</h2>
	<h3 class="dashboard-headings">Known Issues</h3>
	<div style="margin-left:-20px">
		<strong>Problematic PDBs</strong><br />
		Certain PDBs might not import properly or cause instabilities with the application. This is something we are constantly working on. 
		But if a particular PDB causes problems, try the following:
		<ul>
		<li>Enable "Large Solvent Radius' in the Import Dialog box.</li>
		<li>Disable "use bioMT" in the Import Dialog box.</li>
		<li>Let us know the problematic PDB by sending us an email, and we'll try to fix it.</li>
		</ul>

		<strong>File Extensions</strong><br />
		On Windows, The Flipbook application will also register the .flipbook file extension so that saved files can be opened with Flipbook by clicking on them.<br />
		On the Mac, currently the file extension is not associated with the application. To open a session file, use the Load Scene button from within Flipbook.<br /><br />

		<strong>Windows 8 App Signing</strong><br />
		Some user reported problems with installing the application on Windows 8. Make sure you turn off any antivirus software. It might also help to run the installer 
		as an Administrator by right clicking on the installer .exe file, and select "Run as Administrator".<br /><br />

		<strong>Linux Version</strong><br />
		Due to the limited resources we have and the limtations of the third-party libraries we are using, a Linux version is currently not available. 
		But we hope it’s something that will be available in the future!<br /><br />

	</div><br /><br />
</div><!--  span7 -->
<div class="span4">
	<div class='span4'>
	<h3 class="dashboard-headings" style="margin-left:0px">Contact us</h3>
	If you have any questions, please
	<a href="mailto: &#109;&#111;&#108;&#101;&#099;&#117;&#108;&#097;&#114;&#102;&#108;&#105;&#112;&#098;&#111;&#111;&#107;&#064;&#103;&#109;&#097;&#105;&#108;&#046;&#099;&#111;&#109;">email the Flipbook team</a>.
	<br /><br />
	</div>
</div><!--  span5 -->
{% endblock %}