{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
<div class="span12">
	<h2 class="dashboard-headings">Latest News & Events</h2>
	{% for entry in entries %}	
	<div>
		<h5 class="dashboard-headings" style="font-style:italic; margin-bottom:-6px">{{ entry.event_date|date:"l, N j, Y" }}</h5>
		<h4 style="margin-bottom:2px">{{ entry.title }}</h4>
		<article>{{ entry.body|safe }}</article><br />
	</div>
	{% empty %}
	<div>There are no upcoming events.</div> 
	{% endfor %}

</div><!--  span5 -->
{% endblock %}
