{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
<div class="span8">
	<h2 class="dashboard-headings">Frequently Asked Questions</h2>
	<h3 class="dashboard-headings">Tags</h3>
	<div style="margin-left:-20px">
		<strong>What is a tag?</strong><br />
		A tag is normally like a one or two-word label or description that captures part or all of what is represented in a scenefile or animation.<br /><br />

		<strong>Are my tags publically accessible?</strong><br />
		Yes, tags can be accessed by any Flipbook member or non-member through the Library.<br /><br />

		<strong>What is the maximum number of tags that I can add to my scenefile?</strong><br />
		The maximum number is 10 tags.<br /><br />

		<strong>Can other Flipbook members tag my scenefile in the Library?</strong><br />
		Yes, only registered, logged-in Flipbook members can add a tag to your scenefile; however, they cannot delete any tags.<br /><br />

		<strong>How do I update my tags on a scenefile?</strong><br />
		You can update the tags associated with your scene file in a couple of ways in the <strong>Uploads Manager</strong>: 1) Click on the button, <strong>Upload new version</strong>, and update your tags by adding new ones or deleting old ones in the web form, and finally submit the form, or 2) Clicking on the title of a scene file, scrolling down to <strong>Tags:</strong> and entering new ones or deleting old ones in the form. Then save your changes by clicking <strong>Tag it!</strong>.<br /><br />

	</div><br /><br />
</div><!--  span7 -->
<div class="span4">
	<div class='span4'>
	<h3 class="dashboard-headings" style="margin-left:0px">Contact us</h3>
	If you have any questions, please
	<a href="mailto: &#109;&#111;&#108;&#101;&#099;&#117;&#108;&#097;&#114;&#102;&#108;&#105;&#112;&#098;&#111;&#111;&#107;&#064;&#103;&#109;&#097;&#105;&#108;&#046;&#099;&#111;&#109;">email the Flipbook team</a>.
	<br /><br />
	</div>
</div><!--  span5 -->
{% endblock %}