{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
<div id="main-submits" class="submits-list span12">
	<h2 class="dashboard-headings">Browse Tutorials</h2>
	<div id="library-submits-wrapper">
		{% if tuts %}
			<ul id="library-submits">
				{% for tut in tuts %}
					<li class="library-submits-elements">
						<a class="library-submits-links" href="{% url 'tutinfo' tutPk=tut.pk %}" title="{{ tut.title }}"><img class="library-submits-thumbnail" src="{{ tut.thumb_medium }}" alt="{{ tut.title }}" /><br /><div class="library-title-wrapper" data-title="{{ tut.title }}" style="font-size:15px"></div></a>
					</li>
				{% endfor %}
			 </ul> 
		{% else %}
			<span style="margin-left:5px">No tutorials are currently posted.</span>
			<br /><br />
		{% endif %}
	</div><!--  library-submits-wrapper -->
</div><!--  span7 -->

<script type="text/javascript">
$(document).ready(function() {
	$('.library-title-wrapper').each(function(){
		var $this = $(this);
		var title = $this.data('title'); //$this.attr('title').val(); $this.data('title');
		//var user = $this.data('user');
		console.log(title);
		console.log(title.length);
		//$this.append(title);
		if (title.length <= 30){
			$this.append(title + "<br /><br />");
			$this.trunk8({lines:2}).css("height","28px");
		} else if (title.length >= 31 && title.length <= 61) {
			$this.append(title);
			$this.trunk8({lines:2}).css("height","28px");
		} else if (title.length >= 62) {
			$this.append(title);
			$this.trunk8({lines:2});
		}
	}); //end each
}); //end doc-ready
</script>
{% endblock %}
