{% extends "accounts/dashboard.html" %}
{% load staticfiles %}

{% comment %}
**accounts/admin_settings.html**
customized submission form that allows user to
upload a scene file or a file of a given format
to the MFB server
{% endcomment %}

{% block admin_settings_form %}
<h3 class="dashboard-headings" style="margin-left:0px">My Admin Settings</h3>
	<div class="control-group">
	<div class="controls">
		<!--<span for="id_username">Username: </span>{{ username }}<br /><br />-->
		<div class="btn-group">
			<a href="{% url 'post_tutorial' %}" ><button type="button" class="btn btn-sm" id="anchor_edit_password">Post a Tutorial</button></a><br /><br />
			<a href="{% url 'feature_tutorial_change' %}" ><button type="button" class="btn btn-sm" id="anchor_edit_email">Change Feature Tutorial</button></a><br /><br />
			<a href="{% url 'feature_animation_change' %}" ><button type="button" class="btn btn-sm" id="anchor_edit_email">Change Feature Animation</button></a><br /><br />
			<a href="{% url 'feature_animation_change' %}" ><button type="button" class="btn btn-sm" id="anchor_edit_email">Change Staff Picks</button></a><br /><br />
			<a href="{% url 'post_news' %}" ><button type="button" class="btn btn-sm" id="anchor_edit_password">Post a News Event</button></a><br /><br />
			<a href="{% url 'modify_news' %}" ><button type="button" class="btn btn-sm" id="anchor_edit_password">Modify a News Event</button></a><br /><br />

		</div>
	</div>
	</div>
<script type="text/javascript">
  $(document).ready(function(){
	$('#id_username').css("visibility","hidden");
	$('#id_password').css("visibility","hidden");
	$('#id_first_name').prop("placeholder","Enter your first name");
	$('#id_last_name').prop("placeholder","Enter your last name");
	$('#id_email').prop("placeholder","Enter a current email address");
	if ( $('.errorlist').length ) {
	  $('input[id=id_email]').on('focus',function() {
		$('.error').remove();
		$('.errorlist').remove();
		//$(this).siblings().eq(0).remove();
	  });
	}
	if ( $('input[id=id_email]').val() === "" ) {
	  $('input[id=id_email]').before('<span style="color:red;font-size:small">This field is required.</span><br />');
	}
  });
</script>
{% endblock %}
