{% extends "accounts/dashboard.html" %}
{% load staticfiles %}

{% comment %}
Use to display user's dashboard containing
a partial list of submissions, stats, 
comments, and topics of interest
{% endcomment %}

{% block dashboard-master %}
<div class="row">
	<div class="span4 pull-left">
		<h3 class="dashboard-headings" style="margin-left:0px">Recent Uploads </h3>
		{% for vid in vids %}
			{% if forloop.counter < 4 %}
				{% for revItem in vid.revisions.all %}
					{% if forloop.last %}
						<a href="{% url 'revinfo' revPk=revItem.pk %}" title="{{ vid.title }}"><img src="{{ revItem.thumb_small }}" class="side-col-thumbnail" alt='{{ vid.title }}' /></a><br />
						<span class="smallfontstyle"><a class="dashboard-title-wrapper" href="{% url 'revinfo' revPk=revItem.pk %}">{{ vid.title }}</a></span>
						<span class="smallfontstyle">{{ revItem.modified }}</span><br />
					{% endif %}
				{% endfor %}
				<span class="smallfontstyle">Views: {{ vid.views }}</span><br /><br />
			{% endif %}
		{% endfor %}

		<span><a class="action-anchors" href="{% url 'uploadsmanager' %}" title="view all submissions">View All</a></span>
	</div> <!-- span4 -->
	
	<div class="span5 pull-left">
		<h3 class="dashboard-headings" style="margin-left:20px">{{ numofviewspermonth }} Views from last 30 days</h3><br /><br />
		<div id="container" style="min-width: 400px; height: 400px; margin: 0 auto; margin-left:-60px"></div>
	</div> <!-- span5 -->
</div> <!-- end row1 -->
<script type="text/javascript">
$(document).ready(function() {
	$('a.dashboard-title-wrapper').jTruncate({
		length: 25,
		minTrail: 0,
		moreText: "[read more]",
		lessText: "[read less]",
		ellipsisText: "...",
		moreAni: "fast",
		lessAni: "fast"
	});
	$('a.dashboard-title-wrapper').each(function(){ 
		$this = $(this);
		if ( $this.children("span.truncate_ellipsis").length ){
			//don't do anything
		} else {
			$this.append("<br />");
		}
	});

	$(function () {
	  $('#container').highcharts({
		title: {
		  text: '',
		  x: -20 //center
		},
		xAxis: {
		  categories: {{ viewsdictkeys|safe }},
		  labels: {
			style: {
			  fontSize:'6px',
			}
		  },
		},
		yAxis: {
		  title: {
			text: 'Views'
		  },
		  labels: {
			style: {
			  fontSize:'8px'
			}
		  },
		  plotLines: [{
			value: 0,
			width: 1,
			color: '#3CA83C',
		  }]
		},
		tooltip: {
			valueSuffix: ''
		},
		series: [{
			name: 'Daily views',
			data: {{ viewsdictvals|safe }},
			labels:{
				style:{
					fontSize:'5px',
				}
			}
		}, ]
		});
	});
}); //end doc-ready
</script>
{% endblock %}