{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
	{% if user.is_authenticated %}
		<h2 class="dashboard-headings span12"><img {% if user.userpic %} src="{{ user.userpic }}"  {% else %} src="{% static 'img/avatar_user_50x50.png' %}" {% endif %} alt={{ user.username }} /> {{ user.username }}'s Bookshelf</h2>
	{% endif %}	
		<div class="span3 pull-left" style="margin-left:-20px" >
		{% if user.is_staff %}
			<ul class="nav nav-pills nav-stacked">
				<li><a href="{% url 'dashboard' %}" class="uploads-user"><i class="icon-home"></i> My Dashboard</a></li>
				<li><a href="{% url 'upload' %}" class="uploads-user"><i class="icon-upload"></i> Upload</a></li>
				<li><a href="{% url 'uploadsmanager' %}" class="uploads-user"><i class="icon-facetime-video"></i> Uploads Manager</a></li>
				<li><a href="{% url 'user_settings' %}"><i class="icon-cog"></i> Settings</a></li>
				<li><a href="{% url 'admin_settings' %}"><i class="fa fa-vimeo-square"></i> Admin Utilities</a></li>				
			</ul>
		{% else %}
			<ul class="nav nav-pills nav-stacked">
				<li><a href="{% url 'dashboard' %}" class="uploads-user"><i class="icon-home"></i> My Dashboard</a></li>
				<li><a href="{% url 'upload' %}" class="uploads-user"><i class="icon-upload"></i> Upload</a></li>
				<li><a href="{% url 'uploadsmanager' %}" class="uploads-user"><i class="icon-facetime-video"></i> Uploads Manager</a></li>
				<li><a href="{% url 'user_settings' %}"><i class="icon-cog"></i> Settings</a></li>
			</ul>
		{% endif %}
		</div> <!-- span2 -->
		
		<div class="span9"> 
			{% block uploadsmanager %}
			{% endblock %}

			{% block successfulupload %}
			{% endblock %}
			
			{% block dashboard-master %}
			{% endblock %}
			
			{% block submission-form %}
			{% endblock %}
			
			{% block revision-form %}
			{% endblock %}
			
			{% block revision-success %}
			{% endblock %}
			
			{% block revision-info %}
			{% endblock %}

			{% block rev_tagging %}
			{% endblock %}

			{% block user_settings_form %}
			{% endblock %}

			{% block change_password_form %}
			{% endblock %}

			{% block change_password_done %}
			{% endblock %}

			{% block address_change_form %}
			{% endblock %}

			{% block address_change_done %}
			{% endblock %}

			{% block email_change_form %}
			{% endblock %}

			{% block email_change_done %}
			{% endblock %}

			{% block admin_settings_form %}
			{% endblock %}

			{% block post_tutorial_form %}
			{% endblock %}

			{% block post_tutorial_done %}
			{% endblock %}

			{% block post_news_form %}
			{% endblock %}

			{% block feature_tutorial_change_form %}
			{% endblock %}

			{% block feature_tutorial_change_done %}
			{% endblock %}
		</div>  <!-- info content -->
{% endblock %}
