{% extends "accounts/dashboard.html" %}
{% load staticfiles %}

{% comment %}
Redirect changing feature tutorial upon success.
{% endcomment %}

{% block title %}Feature tutorial change successful{% endblock %}

{% block feature_tutorial_change_done %}
<section class="successful_upload_msg">
	<h1 class="dashboard-headings">Super!</h1>
		<p>
		{{ username }}, your featured tutorial <a href="{% url 'tutinfo' tutPk=tutpk %}">{{ title }}</a> has been saved.<br /><br />

		<br />
		</p>
		<br /><br />
</section>
{% endblock %}