{% extends "accounts/dashboard.html" %}
{% load staticfiles %}

{% comment %}
**accounts/feature_tutorial_change_form.html**
customized submission form that allows user to
upload a scene file or a file of a given format
to the MFB server
{% endcomment %}

{% block title %}Feature Tutorial Change{% endblock %}

{% block feature_tutorial_change_form %}
<h3 class="dashboard-headings" style="margin-left:0px">My Admin Settings: Change Feature Tutorial</h3>
	{% if tuts %}
		<p id="pw_info">Administrators: Presently, only one tutorial can be the featured tutorial.<br /><br /></p>
		<form id="user_form" action="" method="post">{% csrf_token %}
			<div class="control-group">
			<div class="controls">
				<span for="id_old_password">Current password:</span><br />
				{% if form.old_password.errors %}<p class="error">{{ form.old_password.errors }}</p>{% endif %}
				{{ form.old_password }}<br/>
			</div>
			</div>
			<div class="control-group">
			<div class="controls">
				<span for="id_new_password1">New password:</span><br />
				{% if form.new_password1.errors %}<p class="error">{{ form.new_password1.errors }}</p>{% endif %}
				{{ form.new_password1 }}<br/>
			</div>
			</div>
			<div class="control-group">
			<div class="controls">
				<span for="id_new_password2">Confirm password:</span><br />
				{% if form.new_password2.errors %}<p class="error">{{ form.new_password2.errors }}</p>{% endif %}
				{{ form.new_password2 }}<br/>
			</div>
			</div>
			<div class="control-group" >
			<div class="controls" align=left>
				<input id="confirm_pw_2x_submit" type="submit" class="big bg-color-greenLight" style="color:#3CA83C" alt="Change Password Form" value="Save Change" />
				<br/><br/>
			</div>
			</div>
		</form>
		<h3 class="dashboard-headings" style="margin-left:0px">List of Tutorials by ID and Title</h3>
		<p>Select a tutorial's title as the new featured tutorial</p>
		{% for tut in tuts %}
			<form id="feature_tut_form" action="" method="post">{% csrf_token %}
			<a href="">[Vimeo ID {{ tut.vimeoid }}</a>] {{ tut.title }}: <br />
					{% if tutform.tutfeature.errors %}<p class="error">{{ tutform.tutfeature.errors }}</p>{% endif %}
					<label id="feature_label">*Featured Tutorial? {{ tutform.tutfeature }} </label>
					<span><input id="confirm_pw_2x_submit" type="submit" class="big bg-color-greenLight" style="color:#3CA83C" alt="Change Password Form" value="Save Change" /></span><br />
			</form>
		{% endfor %}
		<br />
	{% else %}
		<p>Administrators: There are currently no tutorials posted. Please <a href="{% url 'post_tutorial' %}">post a tutorial</a>.</p> 
	{% endif %}
<script type="text/javascript">
  $(document).ready(function(){
	if ( $('.errorlist').length ) {
	  $('input[id=id_old_password]').on('focus',function() {
		$('.error').remove();
		$('.errorlist').remove();
	  });
	  $('input[id=id_new_password1]').on('focus',function() {
		$('.error').remove();
		$('.errorlist').remove();
	  });
	  $('input[id=id_new_password2]').on('focus',function() {
		$('.error').remove();
		$('.errorlist').remove();
	  });
	}
  });
</script>
{% endblock %}