{% extends "accounts/dashboard.html" %}
{% load staticfiles %}

{% comment %}
**accounts/post_news_form.html**
customized submission form that allows user to
upload a scene file or a file of a given format
to the MFB server
{% endcomment %}

{% block post_news_form %}
<h3 class="dashboard-headings" style="margin-left:0px">My Admin Settings: Post a News Entry</h3>
Administrators: To post a news entry on the <a href="{% url 'news' %}">News page</a>, please fill out the form below.<br /><br /> 
To modify a posted news entry, click <a href="{% url 'modify_news' %}">Modify News Entry</a>.<br /><br />
<form id="news_form" action="{% url 'post_news' %}" method="post">{% csrf_token %}

	<div class="control-group">
	<div class="controls">
		{% if entryform.event_date.errors %}<p class="error">{{ entryform.event_date.errors }}</p>{% endif %}
		{{ entryform.event_date }} 
	</div>
	</div>
	<div class="control-group">
	<div class="controls">
		{% if entryform.title.errors %}<p class="error">{{ entryform.title.errors }}</p>{% endif %}
		{{ entryform.title }}<br />
	</div>
	</div>
	<div class="control-group">
	<div class="controls">
		{% if entryform.body.errors %}<p class="error">{{ entryform.body.errors }}</p>{% endif %}
		{{ entryform.body }}<br />
	</div>
	</div>
	<div class="control-group" >
	<div class="controls" align=left>
		<input type="submit" name="post_news" alt="Settings Form" style="color:#3CA83C" value="Post News Event" />
		<br /><br />
	</div>
	</div>

</form>
<script type="text/javascript">
  $(document).ready(function(){
  	$( "#id_event_date" ).datepicker({ dateFormat: 'yy-mm-dd' });

	if ( $('.errorlist').length ) {
	  $('input[id=id_event_date]').on('focus',function() {
		$('.error').remove();
		$('.errorlist').remove();
	  });
	}

	if ( $('.errorlist').length ) {
	  $('input[id=id_title]').on('focus',function() {
		$('.error').remove();
		$('.errorlist').remove();
	  });
	}

	if ( $('.errorlist').length ) {
	  $('input[id=id_body]').on('focus',function() {
		$('.error').remove();
		$('.errorlist').remove();
	  });
	}
  });
</script>
{% endblock %}

