{% extends "accounts/dashboard.html" %}
{% load staticfiles %}

{% comment %}
**accounts/post_tutorial_form.html**
customized submission form that allows user to
upload a scene file or a file of a given format
to the MFB server
{% endcomment %}

{% block post_tutorial_form %}
<h3 class="dashboard-headings" style="margin-left:0px">My Admin Settings: Post a Tutorial</h3>
Administrators: To post a tutorial for display in the <a href="{% url 'tutorial' %}">Tutorials page</a>, please enter a valid Vimeo ID in the form below.<br /><br /> 
<strong>*Note</strong> : Only <i>one</i> tutorial can be a featured tutorial. If the checkbox is disabled, a tutorial feature has already been chosen. Otherwise, click on the checkbox to pick this tutorial as the featured tutorial and click the button "Post Tutorial". <br /><br />
To select another tutorial as the featured one, click <a href="{% url 'feature_tutorial_change' %}">Change Feature Tutorial</a>.<br /><br />
<form id="tutorial_form" action="{% url 'post_tutorial' %}" method="post">{% csrf_token %}
	<div class="control-group">
	<div class="controls">
		{% if tutform.vimeoid.errors %}<p class="error">{{ tutform.vimeoid.errors }}</p>{% endif %}
		{{ tutform.vimeoid }}<br />
	</div>
	</div>
	<div class="control-group">
	<div class="controls">
		{% if tutform.comments.errors %}<p class="error">{{ tutform.comments.errors }}</p>{% endif %}
		{{ tutform.comments }}<br />
	</div>
	</div>
	<div class="control-group">
	<div class="controls" id="checkbox_div">
		{% if tutform.tutfeature.errors %}<p class="error">{{ tutform.tutfeature.errors }}</p>{% endif %}
		<label id="feature_label">*Featured Tutorial? {{ tutform.tutfeature }}</label><br />
	</div>
	</div>
	<div class="control-group" >
	<div class="controls" align=left>
		<input type="submit" name="post_tutorial" alt="Settings Form" style="color:#3CA83C" value="Post Tutorial" />
		<br /><br />
	</div>
	</div>
</form>
<script type="text/javascript">
  $(document).ready(function(){
	if ( $('.errorlist').length ) {
	  $('input[id=id_vimeoid]').on('focus',function() {
		$('.error').remove();
		$('.errorlist').remove();
	  });
	}
	if ( {{ tutblocked }} === true ) {
		$('input[id=id_tutfeature]').prop('disabled',true).addClass('read-only');
		$('input[id=id_tutfeature]').on('click', function(e){
		  e.preventDefault();
		});
	}
	else if ( {{ tutblocked }} === false ) {
		$('input[id=id_tutfeature]').removeProp('disabled',false).removeClass('read-only');
	}
  });
</script>
{% endblock %}
