{% extends "accounts/dashboard.html" %}
{% load staticfiles %}

{% comment %}
Redirect tutorial posting upon success.
{% endcomment %}

{% block post_tutorial_done %}
<section class="successful_upload_msg">
	<h3 class="dashboard-headings">Administrators are awesome, aren't we?!</h3>
		<p>
		Check the <a href="{% url 'tutorial' %}">Tutorial</a> library for your posted <a href="{% url 'tutinfo' tutPk=tutpk %}">Vimeo tutorial #{{ vimeoid }}.</a><br />
		</p>
		<br /><br />
</section>
{% endblock %}