{% extends "accounts/dashboard.html" %}

{% comment %}
**URL Design: profile/revise/(?P<pkVid>(\d+))/$**
After successful submission of a 
revision of a Submission object, display
detailed information for the object and 
and its history
{% endcomment %}

{% block revision-success %}
<section class="rev-success-container">
	<h2>Updated Revision Details</h2>
	
	{% if messages %}
		<ul class="messages">
			{% for message in messages %}
			<li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
			{% endfor %}
		</ul>
	{% endif %}

	<section class=" rev-video-content">
		<div class="rev-video">
			<img src="{{ new_revision.thumb_large }}" alt="{{ title }}" /><br /><br />
			<a href="" >new revision video player here </a>
		</div>
		<div class="rev-video-title">
			<h4>{{ title }}</h4> <br />
			<input id="title_entry" style="display:none;"></input>
			PDBs: <span id="pdb">{{ pdbs }}</span><br />
			<input id="pdb_entry" style="display:none;"></input>
		</div>
		<div class="rev-userprofile-img">
		UserProfile Image here<br />
		</div>
		<div class="rev-userprofile-name">
			Username: {{ username }} <span class="small">{{ vidCount }} videos</span><br /><br />
			<button>Subscribe</button>
			
		</div>
		<div class="rev-viewcount">
		Number of View
		
		</div>
		<div class="vm-date-timestamp-info">
		Uploaded on {{ latestRev }}
		</div>
		<div class="vm-video-info">
			Description: {{ description }} <br />
		</div>
		<section class="ac-container">
		<strong>Tags: </strong>{{ tags }}<br />
		Comments: {{ comments }}
		</section>
		<br /><br />
	</section>
</section>

<script type="text/javascript">
$(document).ready(function(){

	$('.messages > li').delay(1000).fadeOut();
});//end ready
</script>
{% endblock %}