{% extends "accounts/dashboard.html" %}
{% load staticfiles %}

{% comment %}
**URL Design: profile/revise/(?P<pkVid>(\d+))/$**
After successful submission of a 
revision of a Submission object, display
detailed information for the object and 
and its history
{% endcomment %}

{% block revision-info %}
<section class="rev-success-container">
	<h4>{{ title }}</h4>
	<input id="title_entry" style="display:none;"></input>
	
	{% if messages %}
		<ul class="messages">
			{% for message in messages %}
			<li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
			{% endfor %}
		</ul>
	{% endif %}

	<div class="rev-video">
		{% if selected_revision.vimeoid  %}
			{% if oembed %}
				{{ oembed | safe }}
			{% else %}
				<img src="{{ selected_revision.thumb_large }}" alt="{{ title }}" />
			{% endif %}
		{% else %}
			<img src="{{ selected_revision.thumb_large }}" alt="{{ title }}" />
		{% endif %}
	</div>
	<div id="rev-info">
	<section class=" rev-video-content" style="background-color:#f4f5f7; border: 1px, solid, #E9EBEF; width=640px;padding:10px;">
		<a class="file-wrapper" href="{{ sourcefile }}" style="align:center;padding-left:60px;margin-left:450px;margin-top:10px;"><span id="downloadmac" class="browsebtn" style="text-align:center">Download Sourcefile</span></a>
		<div class="rev-userprofile-img">
			{%  if user.is_authenticated %}
			<br />
			<img {% if user.userpic %} src="{{ user.userpic }}"  {% else %} src="{% static 'img/avatar_user_50x50.png' %}" {% endif %} alt={{ user.username }} /> <span style="font-size: x-small"><a href="{% url 'browse_user' pk=userpk %}" >{{ username }}</a></span>
			{% endif %}
			<span id="separator"></span><span class="small" style="font-size: x-small">{{ vidCount }} videos</span><br /><br />
		</div>
		<div class="rev-userprofile-name">
			
		<div class="rev-viewcount">
			<strong>Title</strong>: {{ title }}<br />
			<strong>Author(s)</strong>: {{ authors }}<br />
			<strong>MFB_ID</strong>: {{ subpk }}.{{ revpk }} <strong>Filetype</strong>: {{ filetype }}<br />
			<strong>Views</strong>: {{ numofviews }}
		</div>
		<div class="rev-pdbs">
			<strong>PDB(s)</strong>: {{ pdbs }}<br />
			<!--<input id="pdb_entry" style="display:none;"></input>-->
		</div>
		<div class="vm-date-timestamp-info">
		<strong>Uploaded on</strong> {{ timestamp }}
		</div>
		<div id="description_{{ selected_submission.pk }}" style="float: none; position: static;" name="{{ description }}">
			<strong>Description</strong>: {{ description }} <br />
			<strong>References</strong>: {{ ancestors }}<br />
			{% if user.is_authenticated %}
				<form id="sub_info_tags" action="" method="post">{% csrf_token %}
					<strong>Tags:</strong>
					<div id="tags-input">
						<input type="text" id="tags" class="form-control input-block-level" placeholder="Add tags for easy discovery; max 10" name="tagname" />
						{% if tagform.errors %}<p class="errorlist">
						{% if tagform.tagname.errors %}<span class="error">[Tags] {{ tagform.tagname.errors }}</span>{% endif %}
						</p>{% endif %}
					</div><br />
					<input type="submit" id="sub_info_submit" name="submitbutton" class="big bg-color-greenLight" alt="Sub Info Tag Form" value="Tag it!" />
				</form>
			{% else %}
				<strong>Tags: </strong>{% for tag in tags %} <a href="{% url 'browse_submissions_of_tag' pk=tag.pk %}" >{{ tag.tagname }}</a>{% if not forloop.last %}, {% endif %}{% endfor %}<br />
			{% endif %}
			<strong>Comments</strong>: {{ comments }}<br />
		</div>
		<div class="wrapper">

		</div>
		<br /><br />
	</section>
	</div>
</section>

<script type="text/javascript">
$(document).ready(function(){
	//ellipsis for description
	$('.wrapper').children('div').jTruncate({
		length: 200,
		minTrail: 0,
		moreText: "[read more]",
		lessText: "[read less]",
		ellipsisText: "...",
		moreAni: "fast",
		lessAni: "fast"
	});
	
	$('#title').on('click', function() {
		$('#title').css('display', 'none');
		$('#title_entry')
			.val($('#title').text())
			.css('display', '')
			.focus();
	});

	$('#title_entry').on('blur', function() {
		$('#title_entry').css('display', 'none');
		$('#title')
			.text($('#title_entry').val())
			.css('display', '');
	});

	$('#pdb_entry').on('blur', function() {
		$('#pdb_entry').css('display', 'none');
		$('#pdb')
			.text($('#pdb_entry').val())
			.css('display', '');
	});

	var preexistingTokens;
	$('#tags-input input:text').addClass('ignore').css('visibility','visible');
	$('#tags-input').css('visibility','visible');

	var taglist = $('#tags')

		.on('beforeCreateToken', function(e) {
		  if ( $('#tags').tokenfield('getTokens').length === 10) {
				delete e.token;
				$('#tags-input').after('<span id="tagserrormsg" style="color:#FF0000">Maximum 10 tag limit </span><br id="brtagmsg" />');
				$('#tagserrormsg').delay(2000).fadeOut(300, function(){ $(this).remove(); });
				$('#brtagmsg').delay(2000).fadeOut(300, function() { $(this).remove(); });
				$('#tags-tokenfield').autocomplete("close");
				$('#tags-tokenfield').val("").blur();
				console.log("tagcount & val = " + $('#tags').tokenfield('getTokens').length );
		  }
		  console.log("taglist = " + $('#tags').tokenfield('getTokensList'));
		})
		.on('tokenfield:createtoken', function (event) {
		  var existingTokens = $(this).tokenfield('getTokens');
		  console.log("currenttokens = " + existingTokens);
		  $.each(existingTokens, function(index, token) {
			if ( (token.value).toLowerCase() === (event.attrs.value).toLowerCase() )
			  event.preventDefault();
		  });
		})
		.tokenfield({
			  autocomplete: {
				source: function( request, response ) {
				  $.ajax({
					url: "{% url 'acsearch' %}",
					dataType: 'json',
					data: {
					  featureClass: "P",
					  style: "full",
					  maxRows: 12,
					  q: request.term.toLowerCase()
					},
					success: function( data ) {
					  if ( data.results !== undefined ){
						response( $.map( data.results, function(item){
						  return { label: item, value: item};
						})); //end response
					  } //end if
					}, //end success
					error: function () {
					  output.html('<h2 class="error">There was an error loading the data.</h2>');
					} //error
				  }); //end .ajax fn
				}, //end source
				minLength: 2,
				select: function( event, ui ) {
				  $("#tags").val($('#tags').tokenfield('getTokensList'));
				},
				open: function(event, ui) {
				  $( this ).removeClass( "ui-corner-all" ).addClass( "ui-corner-top" );
				},
				close: function(event, ui) {
				  $( this ).removeClass( "ui-corner-top" ).addClass( "ui-corner-all" );
				}
			  }, //autocomplete
			  showAutocompleteOnFocus: true,
			  createTokensOnBlur: true,
			  allowDuplicates: false
		}); //end tokenfield

	$('#sub_info_tags').submit(function(event){
	  $.ajax({							//create ajax call
		data: $(this).serialize(), 		//get form data
		type: $(this).attr('method'), 	//post
		url: $(this).attr('action'), 	//file to call
		success: function(response) {
		  if ( response.indexOf("true") >= 0 ) {
			$('#tags-tokenfield').after("<br /><span id='tag_message' style='color:red'>Tags saved.</span>");
			$('#tag_message').fadeOut(1000); //update DIV element
		  }
		  else {
			$('#tags-tokenfield').after("<br /><span id='tag_message' style='color:red'>Error</span>");
			$('#tag_message').fadeOut(1000); //update DIV element
		  }
		},
		error: function(e, x, r) {
		  $('#tags-tokenfield').after('<br /><span id="error_msg">' + e + '</span><br />');
		}
	  });
	  event.preventDefault();
	});

	$('#tags').tokenfield('setTokens', '{{ tagsinput }}');
	preexistingTokens = $('#tags').tokenfield('getTokens');
	console.log("preexistingTokens = " + preexistingTokens);
	$('#tags').css('visibility','visible');
	$('#tags-tokenfield').attr('name','tags-tokenfield');
	$('#tags-tokenfield').css({'visibility':'visible','width':'650px'});
	$('#tags-tokenfield:focus').css('width','600px');
	$('.tokenfield form-control,.token-input ui-autocomplete-input').css('visibility','visible');

});//end ready
</script>
{% endblock %}