{% extends "accounts/dashboard.html" %}
{% load staticfiles %}

{% comment %}
**accounts/submission_form.html**
customized submission form that allows user to
upload a scene file or a file of a given format
to the MFB server
{% endcomment %}

{% block submission-form %}
<h3 class="dashboard-headings" style="margin-left:0px">Upload your files</h3>

	<div id="iconfiletypes">
		<p id="scene-msg-prompt"><i class="icon-info-sign"></i> Maximum scene file size: 100MB. Accepted file types are of the following:<br /><br />
		<span><img src="{% static 'img/icons/icon_mfb_32.png' %}" id="iconfile" alt=".flipbook (Molecular Flipbook)"  title=".flipbook (Molecular Flipbook)" /></span>
		<span><img src="{% static 'img/icons/icon_blender_32.png' %}" id="iconfile" alt=".blend (Blender)" title=".blend (Blender)" /></span>
		<span><img src="{% static 'img/icons/icon_maya_32.png' %}" id="iconfile" alt=".ma/.mb (Maya)" title=".ma/.mb (Maya)" /></span>
		<span><img src="{% static 'img/icons/icon_c4d_32.png' %}" id="iconfile" alt=".c4d (Cinema 4D)" title=".c4d (Cinema4D)" /></span>
		<span><img src="{% static 'img/icons/icon_3ds_32.png' %}" id="iconfile" alt=".max/.3ds (3DS Max)" title=".max/.3ds (3DSMax)" /></span>
		<span><img src="{% static 'img/icons/icon_dae_32.png' %}" id="iconfile" alt=".dae (Collada)" title=".dae (Collada)" /></span>
		<span><img src="{% static 'img/icons/icon_x3d_32.png' %}" id="iconfile" alt=".x3d (Web3D)" title=".x3d (Web3D)" /></span>
		<span><img src="{% static 'img/icons/icon_pdf_32.png' %}" id="iconfile" alt=".pdf (Acrobat)" title=".pdf (Acrobat)" /></span>
		<span><img src="{% static 'img/icons/icon_keynote_32.png' %}" id="iconfile" alt=".key (Keynote)" title=".key (Keynote)" /></span>
		<span><img src="{% static 'img/icons/icon_ppt_32.png' %}" id="iconfile" alt=".ppt/.pptx (Powerpoint)" title=".ppt/.pptx (Powerpoint)" /></span>
		<span><img src="{% static 'img/icons/icon_illustrator_32.png' %}" id="iconfile" alt=".ai (Adobe Illustrator)" title=".ai (Illustrator)"/></span>
		<span><img src="{% static 'img/icons/icon_photoshop_32.png' %}" id="iconfile" alt=".psd/.eps (Adobe Photoshop)" title=".psd/.eps (Photoshop)" /></span>
		<span><img src="{% static 'img/icons/icon_xcf_32.png' %}" id="iconfile" alt=".xcf (GIMP)" title=".xcf (GIMP)" /></span>
		<!--  <i class="icon-info-sign"></i> -->
		</p> <br />
	</div>
	


<form id="submissionUpload" class="no-uploads" action="{% url 'upload' %}" method="post" enctype="multipart/form-data">{% csrf_token %}
{% if pdbform.errors or tagform.errors or subform.errors or ftform.errors or revform.errors  %}<p class="errorlist">Please correct the following fields:<br /> 
	{% if revform.sourcefile.errors %}<span class="errorlist">[Sourcefile] {{ revform.sourcefile.errors }}</span>{% endif %}
	{% if ftform.filetype.errors %}<span class="errorlist">[Filetype] {{ ftform.filetype.errors }}</span>{% endif %}
</p>{% endif %}

	<!-- <label for="sourcefile"{% if revform.sourcefile.errors %} class="error"{% endif %}>Source File: </label> -->
	<span id='source-wrapper' class="file-wrapper">
	<input type="file" id='id_sourcefile' name='id_sourcefile' />
	<span id="browsesource" class='browsebtn'>Browse</span><span id="filetype-error-msg-prompt"><strong>ERROR:</strong> File format not accepted. Please choose another file.</span>
	</span>
	<p id="sourcestatus"></p>
	<p id="imgstatus"></p>
	<p id="vidstatus"></p>
	{{ revform.sourcefile }}

	<!--<div class="progress progress-striped active" id="outer-bar"><div class="bar" id='inner-bar' style="width: 40%;"></div></div>-->
	<!--  keep to use later for file format selection on server side and tracking in DB -->
	<!-- <label for="filetype"{% if ftform.filetype.errors %} class="error"{% endif %}>Filetype: </label>  -->
	{{ ftform.filetype }}
				
	<div id="info-msg-prompt">
		<p id="info-error-msg-prompt"></p><br />
	</div>
	
	<div class="row-fluid">
		<div class="span4">
			<div id="thumbnail_upload_pic">
				<label for="id_vidpic"{% if revform.vidpic.errors %} {% endif %}>Thumbnail: </label>
				<span ><img src="{% static 'img/icons/upload_thumbnail_1024x576.png' %}" id="thumbnail-upload" alt="thumbnail_upload_1024x576"  title="Upload a thumbnail" class="library-submits-thumbnail" /></span><br />
				<p id="vidpic-msg-prompt" style="font-size:x-small"><i class="icon-info-sign" ></i>[Optional] Accepted files: .gif, .jpg, .png; Ratio: 4:3; Max. size: 5MB </p>
				<span id='thumbnail-wrapper' class="file-wrapper">
					{% if revform.errors  %}
						<p class="errorlist">{% if revform.vidpic.errors %}
						<span class="errorlist">[Thumbnail] {{ revform.vidpic.errors }}</span>
						{% endif %}</p>
					{% endif %}
					<input type="file" id="id_vidpic" name="id_vidpic"  />
					<span id="browsethumbnail" class="browsebtn">Browse</span>
					{{ revform.vidpic }}
				</span>
				<br /><br /><br />
			</div>
			
			<div id="vid_upload_pic">
				<label for="id_vidanimation"{% if revform.vidanimation.errors %} {% endif %}>Video File: </label>
				<span ><img src="{% static 'img/icons/upload_video_1024x576.png' %}" id="video-upload" alt="video_upload_1024x576"  title="Upload an animation video" class="library-submits-thumbnail" /></span><br />
				<p id="vidanimation-msg-prompt" style="font-size:x-small"><i class="icon-info-sign"></i>[Optional] Accepted files: .avi, .mov, .mp4, .wmv; Max. size: 50MB</p>
				<span id='vid-wrapper' class="file-wrapper">
					{% if revform.errors  %}
						<p class="errorlist">{% if revform.vidanimation.errors %}
						<span class="errorlist">[Video]{{ revform.vidanimation.errors }}</span>
						{% endif %}</p>
					{% endif %}
					<input type='file' id="id_vidanimation" name="id_vidanimation"  />
					<span id="browsevid" class="browsebtn">Browse</span>
					{{ revform.vidanimation }}
				</span>
				<br /><br />
			</div>
		</div> <!--end span4 -->

		<div class="span8" style="padding-left:10px">
			<label class="placeholder">{{ subform.title }}Enter a catchy title</label><br />
			{% if subform.errors %}<p class="errorlist">
			{% if subform.title.errors %}<span class="errorlist">[Title] {{ subform.title.errors }}</span>{% endif %}
			</p>{% endif %}<br />

			<label class='placeholder'>{{ subform.authors }} Add co-authors</label><br />
			{% if subform.errors %}<p class="errorlist">
			{% if subform.authors.errors %}<span class="errorlist">[Authors] {{ subform.authors.errors }}</span>{% endif %}
			</p>{% endif %}<br />

			<label class='placeholder'>{{ subform.description }}</label><br /><br />
			{% if subform.errors %}<p class="errorlist">
			{% if subform.description.errors %}<span class="errorlist">[Description] {{ subform.description.errors }}</span>
			{% endif %}
			</p>{% endif %}

			<div id="pdbs-input">
				<input type="text" id="pdbs" class="form-control input-block-level" placeholder="List your PDBs; max 10" name="pdbname" />
				{% if pdbform.errors %}<p class="errorlist">
				{% if pdbform.pdbname.errors %}<span class="errorlist">[PDB] {{ pdbform.pdbname.errors }}</span>{% endif %}
				</p>{% endif %}
			</div><br />
			 
			<div id="tags-input">
				<input type="text" id="tags" class="form-control input-block-level" placeholder="Add tags for easy discovery; max 10" name="tagname" />
				{% if tagform.errors %}<p class="errorlist">
				{% if tagform.tagname.errors %}<span class="error">[Tags] {{ tagform.tagname.errors }}</span>{% endif %}
				</p>{% endif %}
			</div><br />

			<label class='placeholder'>{{ subform.ancestors }}</label><br />
			{% if subform.errors %}<p class="errorlist">
			{% if subform.ancestors.errors %}<span class="errorlist">[Ancestors] {{ subform.ancestors.errors }}</span>{% endif %}
			</p>{% endif %}<br />
		</div> <!-- end span8 -->
	</div> <!-- end row-fluid -->
	
	<div id='submissionInput' align="center">
	<br />
	<input type="submit" id="submitbutton" name="submitbutton" class="big bg-color-greenLight" alt="Registration Form" value="Submit" /><span> </span><input id='startOver' name="startOver" type='button' class='big bg-color-greenLight' alt='Reset webform' value="Reset" />
	<br /><br />
	</div>
</form>

<script type="text/javascript">

	$(document).ready(function(){

		//**************************** functions ****************************	
		var upload_attempts = 0;
		var timeout;

		window.reset2 = function(e){
			e.wrap('<form>').closest('form').get(0).reset();
			e.unwrap();
		};
		
		function initSubmissionForm() {
			reset2($('#id_sourcefile'));
			reset2($('#id_vidpic'));
			reset2($('#id_vidanimation'));
			clearTimeout(timeout);
			$('#filetype-select').find('option:selected').val(0);
			$('#filetype-select').find('option:selected').text("Select file format of source file");
			$("#vidpic-msg-prompt,#thumbnail-upload,#id_vidpic,#browsethumbnail,#vidanimation-msg-prompt,#video-upload,#id_vidanimation,#browsevid,#title,#authors,#description,#pdbs-tokenfield,#tags-tokenfield,#ancestors,#submissionInput").css("visibility","hidden");
			$('#pdbs-input, #tags-input').css('visibility','hidden');
			$('.tokenfield,.form-control').css('visibility','hidden');
			$('#title, #authors, #description').removeClass('valid').addClass('error');
			$("#sourcestatus,#imgstatus,#vidstatus").empty();
			$("input[id=sourceurl], input[id=imgurl], input[id=vidurl]").val("");
			$("#id_sourcefile,#id_vidpic,#id_vidanimation").prop('disabled',false);
			$('.placeholder, .descriptionplaceholder').css('display','none');
			$('.file-holder-br').remove();
			$('.file-holder-label-br').remove();
			$('.file-holder').remove();
			$('.file-holder-label').remove();
			$('.token').remove();
			$('#iconfiletypes').show();
			$('#browsesource').css('visibility', 'visible');
			$('#id_sourcefile').css('visibility','visible');
			$('#title, #authors, #description, #pdbs-tokenfield, #tags-tokenfield, #ancestors').val('');
			$('#thumbnail-upload').attr('src', "/static/img/icons/upload_thumbnail_1024x576.png");
			$('#video-upload').attr('src', "/static/img/icons/upload_video_1024x576.png");
		} //initSubmissionForm

		function showIconTooltip(target_items,name) {
			$(target_items).each(function(i){
				$("#iconfiletypes").append("<div class='"+name+"' type='img' id='"+name+i+"'><p>"+$(this).attr('title')+"</p></div>");
				var my_tooltip = $("#"+name+i);
				
				if ($(this).attr('title') !== '' && $(this).attr('title') !== 'undefined' ){
					$(this).removeAttr("title").mouseover(function(kmouse){ // //used to avoid using the normal tooltip that browsers use when hovering over links
						my_tooltip.css({position:"absolute"}).css({ opacity:0.8,display:"none"}).fadeIn(100); 
					}).mousemove(function(kmouse){
						var border_top = $(window).scrollTop();
						var border_right = $(window).width();
						var left_pos;
						var top_pos;
						var offset = 15;
						if (border_right - (offset*2) >= my_tooltip.width() + kmouse.pageX){
							left_pos = kmouse.pageX+offset;
						} else {
							left_pos = border_right - my_tooltip.width() - offset;
						}
						if (border_top + (offset*2) >= kmouse.pageY - my_tooltip.height()){
							top_pos = border_top + offset;
						} else {
							top_pos = kmouse.page - my_tooltip.height() - offset;
						}
						my_tooltip.css({position:"absolute"}).css({left:left_pos, top:top_pos}); 
					}).mouseout(function(){
						my_tooltip.fadeOut();
					});
				}//end if
			});
		}//showIconToolTip

		//asynchronous upload of source, and/or image, and/or video to AWS S3 on submit
		function s3_upload(elem){
		  console.log("inside s3_upload");
		  var cookie = $.cookie('csrftoken');
		  return new S3Upload({
		  	csrftoken: cookie,
			file_dom_selector: elem.attr('id'),
			s3_sign_put_url: "{% url 'sign_s3' %}",		
			onProgress: function(percent, message) {
			  if (elem.attr('id') === 'id_sourcefile'){
				$('#sourcestatus').html('Sourcefile upload progress: ' + percent + '% ' + message).css({"color":"#0000FF"}); 
				//+ " <div class='progress progress-striped active' id='outer-bar'><div class='bar' id='inner-bar' style='width:" +  percent + "'% ;'></span></span>"
			  }
			  else if (elem.attr('id') === "id_vidpic") {
				$('#imgstatus').html('Image upload progress: ' + percent + '% ' + message).css({"color":"#0000FF"});
			  }
			  else if (elem.attr('id') === "id_vidanimation") {
				$('#vidstatus').html('Video upload progress: ' + percent + '% ' + message).css({"color":"#0000FF"});
			  }
			}, //end progress
			onFinishS3Put: function(public_url) {
			  console.log("public_url = " + public_url + ", type(public_url) = " + $.type(public_url));
			  if ( public_url !== 'undefined' || pubic_url !== "") {
				if (elem.attr('id') === 'id_sourcefile') {
				  $('#sourcestatus').html('Sourcefile upload: Completed<br />').css("color","#0000FF");
				  $('input[id="sourceurl"]').val(public_url).trigger('change');
				}
				else if (elem.attr('id') === "id_vidpic") {
				  $('#imgstatus').html('Thumbnail upload: Completed<br />').css({"color":"#0000FF"});
				  $('input[id="imgurl"]').val(public_url).trigger('change');
				}
				else if (elem.attr('id') === "id_vidanimation") {
				  $('#vidstatus').html('Video Upload: Completed').css({"color":"#0000FF"});
				  $('input[id="vidurl"]').val(public_url).trigger('change');
				}
			  }
			},//end public_url check
			onError: function(status) {
			  if (elem.attr('id') === 'id_sourcefile') {
				$('#sourcestatus').html('[ERROR: Sourcefile Upload error] ' + status).css("color","#FF0000");
				$('input[id="sourceurl"]').val("").trigger('change');
			  }
			  else if (elem.attr('id') === "id_vidpic") {
				$('#sourcestatus').html('[ERROR: Thumbnail Upload error] ' + status).css("color","#FF0000");
				$('input[id="imgurl"]').val("").trigger('change');
			  }
			  else if (elem.attr('id') === "id_vidanimation") {
				$('#sourcestatus').html('[ERROR: Video Upload error] ' + status).css("color","#FF0000");
				$('input[id="vidurl"]').val("").trigger('change');
			  }
			} //end status
		  }); //constructor
		}//end s3_upload

		//callback: send user uploaded files 
		// to AWS S3 asynchronously; then submit form to django
		function doUploads(form) {
		  upload_attempts++;

		  console.log("inside doUploads");
		  var  sourcetos3 = {};
		  var  imgtos3 = {};
		  var  vidtos3 = {};

		  sourcetos3 = s3_upload($('#id_sourcefile'));
		  //debugger;
		  $('input[id="sourceurl"]').bind('change', function() {
			console.log("inside sourceurl change triggered");
			if ( $('#sourcestatus').html().search('Completed') !== -1 ) {
			  console.log("inside sourceurl passed complete");
			  if ( $('#id_vidpic').val() !== '' ) {// || (typeof $('#id_vidpic').val() !== "string") ) {
				console.log("inside sourceurl do s3_upload thumbnail");
				imgtos3 = s3_upload($('#id_vidpic'));
			  }
			  else {
				console.log("inside sourceurl no image upload by user");
				$('input[id="sourceurl"]').unbind('change');
				$('input[id="imgurl"]').val("").trigger('change');  //no user upload
			  }
			}
			else if ( $('#sourcestatus').html().search('Status') !== -1 ) {
			  $('#sourcestatus').html('[ERROR Retrying Sourcefile Upload] Attempt #' + upload_attempts).css("color","#FF0000");
			  delete sourcetos3; 
			  delete imgtos3; 
			  delete vidtos3;
			  $('input[id="sourceurl"]').unbind('change');
			  $('input[id="imgurl"]').unbind('change');
			  $('input[id="vidurl"]').unbind('change');
			  $('#sourcestatus').html("");
			  $('#imgstatus').html("");
			  $('#vidstatus').html("");
			  if(upload_attempts < 5) {
				$('#sourcestatus').html('ERROR Retrying Sourcefile Upload] Attempt #' + upload_attempts).css("color","#FF0000");
				setTimeout(function() {
				  doUploads(form);
				}, 2000);
			  } else {
				$('#sourcestatus').html('ERROR: Unable to upload files. Resetting process...').css("color","#FF0000");
				timeout = setTimeout(function() {
				  $('#startOver').prop('disabled',false).click();
				}, 2000);
			  }
			  console.log("Error with sourcefile upload. Exiting doUploads...");
			}
		  });//sourcestatus

		  $('input[id="imgurl"]').bind('change', function() {
			console.log("inside imgurl bind-change");
			if ( $('#imgstatus').html().search('Completed') !== -1 || $('#imgstatus').html() === "" ) {
			  if ( $('#id_vidanimation').val() !== '' ) {// || (typeof $('#id_vidanimation').val() !== 'undefined') ) {
				console.log("inside imgurl about to s3_upload vid");
				vidtos3 = s3_upload($('#id_vidanimation'));
			  }
			  else{
				console.log("inside imgurl trigger hidden input for video");
				$('input[id="imgurl"]').unbind('change');
				$('input[id="vidurl"]').val("").trigger('change');
			  }
			}
			else if ( $('#imgstatus').html().search('Status') !== -1 ) {
			  $('#sourcestatus').html('[ERROR Retrying Thumbnail Upload] Attempt #' + upload_attempts).css("color","#FF0000");
			  delete sourcetos3; 
			  delete imgtos3; 
			  delete vidtos3;
			  $('input[id="sourceurl"]').unbind('change');
			  $('input[id="imgurl"]').unbind('change');
			  $('input[id="vidurl"]').unbind('change');
			  $('#sourcestatus').html("");
			  $('#imgstatus').html("");
			  $('#vidstatus').html("");
			  if(upload_attempts < 5) {
				$('#sourcestatus').html('[ERROR Retrying Thumbnail Upload] Attempt #' + upload_attempts).css("color","#FF0000");
				setTimeout(function() {
				  doUploads(form);
				}, 2000);
			  } else {
				$('#sourcestatus').html('ERROR: Unable to upload files. Resetting process...').css("color","#FF0000");
				timeout = setTimeout(function() {
				  $('#startOver').prop('disabled',false).click();
				}, 2000);
			  }
			  console.log("Error with image upload. Exiting doUploads...");
			}
		  });//imgstatus

		  $('input[id="vidurl"]').bind('change', function() {
			console.log("inside vidurl change triggered");
			if ( $('#vidstatus').html().search('Completed') !== -1 || $('#vidstatus').html() === "" ) {
			  console.log("inside vidurl trigger hidden input for video");
			  //don't submit uploads to heroku
			  $("input[id=id_sourcefile]").prop("disabled", true);
			  $("input[id=id_vidpic]").prop("disabled", true);
			  $("input[id=id_vidanimation]").prop("disabled", true);
			  $('input[id="vidurl"]').unbind('change');
			  console.log("BEFORE form.removeClass.submit()");
			  form.submit();
			}
			else if ( $('#vidstatus').html().search('Status') !== -1 ) {
			  $('#sourcestatus').html('[ERROR Retrying Video Upload] Attempt #' + upload_attempts).css("color","#FF0000");
			  delete sourcetos3; 
			  delete imgtos3; 
			  delete vidtos3;
			  $('input[id="sourceurl"]').unbind('change');
			  $('input[id="imgurl"]').unbind('change');
			  $('input[id="vidurl"]').unbind('change');
			  $('#sourcestatus').html("");
			  $('#imgstatus').html("");
			  $('#vidstatus').html("");
			  if(upload_attempts < 5) {
				$('#sourcestatus').html('[ERROR Retrying Video Upload] Attempt #' + upload_attempts).css("color","#FF0000");
				setTimeout(function() {
				  doUploads(form);
				}, 2000);
			  } else {
				$('#sourcestatus').html('ERROR: Unable to upload files. Resetting process...').css("color","#FF0000");
				timeout = setTimeout(function() {
				  $('#startOver').prop('disabled',false).click();
				}, 2000);
			  }
			  console.log("Error with video upload. Exiting doUploads...");
			}
		  });
		}//end doUploads

		// select filetype
		function setDBFiletype(key,val){
			$('#filetype-select').find('option:selected').val(key);
			$('#filetype-select').find('option:selected').text(val);
			console.log("text: " + $('#filetype-select').find('option:selected').text() + " value: " + $('#filetype-select').find('option:selected').val());
			return true;
		}

		//wrapper input type=file styled button
		var SITE = SITE || {};
		//get extension of source file
		var ext;
		var sourceSelected;
		var thumbnailSelected;
		var videoSelected;

		// alert end-user if file size is larger than max
		function getFileSize(elem){
		  try{
		    var fileSize = 0;
			//for IE
			if ( navigator.userAgent.match(/MSIE ([0-9]+)\./) ) {
			  //before making an object of ActiveXObject, please make sure
			  //ActiveX is enabled in your IE browser
			  var objFSO = new ActiveXObject("Scripting.FileSystemObject");
			  console.log("elem.value = " + elem.value);
			  var objFile = objFSO.getFile(elem.value);
			  filesize = objFile.size; 		// size in kb
			 }
			else {
			  // for FF, Safari, Opera et al.
			  console.log("elem.val() = " + elem.val());
			  filesize = elem[0].files[0].size; // size in kb
			  console.log("filesize = " + filesize);
			}
			if ( elem.attr('id') === 'id_sourcefile') {
			  if (filesize > 100*1024*1024){
				$('#filetype-error-msg-prompt').html("<strong>ERROR:</strong> Sourcefile over 100MB. Please select another file.").show().css( 'color','#FF0000');
				$('#filetype-error-msg-prompt').delay(2000).fadeOut();
				sourceSelected = false;
				reset2($('#id_sourcefile'));
			  }
			  else {
				sourceSelected = true;
			  }
			}
			else if ( elem.attr('id') === 'id_vidpic') {
			  if (filesize > 5*1024*1024){
				$('#info-error-msg-prompt').html("<strong>ERROR:</strong> Thumbnail over 5MB. Please select another file.").show().css( 'color','#FF0000');
				$('#info-error-msg-prompt').delay(2000).fadeOut();
				thumbnailSelected = false;
				reset2($('#id_vidpic'));
			  }
			  else {
				thumbnailSelected = true;
			  }
			}
			else if ( elem.attr('id') === 'id_vidanimation') {
			  if (filesize > 50*1024*1024){
				$('#info-error-msg-prompt').html("<strong>ERROR:</strong> Video over 50MB. Please select another file.").show().css( 'color','#FF0000');
				$('#info-error-msg-prompt').delay(2000).fadeOut();
				videoSelected = false;
				reset2($('#id_vidanimation'));
			  }
			  else {
				videoSelected = true;
			  }
			}
		  }//end try
		  catch (e){
			console.log("getFileSize: error msg" + e);
		  }//catch
		}//end getFileSize
		 
		// extract title and pdbs from flipbook filetype object and assign to vars
		function handleFileSelect(elem, callback) {
		  var parsepdbs = "";
		  var title = "";
		  var listpdbs = [];
		  var f = elem[0].files[0]; //FileList object
		  console.log("f = " + f)

		  // generic properties
		  console.log("f.name = " + f.name);
		  console.log(f.type || 'n/a');
		  console.log(f.size);

		  //read file content
		  var reader = new FileReader();
		  reader.onload = parseText;
		  //parseText(function(reader.onload))
		  reader.readAsText(f); //json object

		  function parseText() {
			//parse flipbook file as json blob
			text = reader.result;
			flipbookFile = JSON.parse(text);
			title = title + flipbookFile.name;
			console.log(flipbookFile.fileIDs);

			//parse pdbs for tags
			pdbs = flipbookFile.pdbs;
			console.log("pdbs = " + flipbookFile.pdbs);
			for (var pdb in pdbs) {
			  if (parsepdbs === "") {
				parsepdbs = parsepdbs + pdb.split('.')[0];
			  }
			  else {
				parsepdbs = parsepdbs + ', ' + pdb.split('.')[0];
			  }
			}
			console.log("from parseText title = " + title);
			console.log("in handleFileSelectparsepdbs = " + parsepdbs);
		    fbvals = [ title, parsepdbs ]
		    callback( fbvals );
		  } //end parseText()
		} //end handleFileSelect

		SITE.fileInputs = function() {
			console.log("inside sourceInputs");
			
			var $this = $(this),
				$val = $this.val(),
				valArray = $val.split('\\'),
				newVal = valArray[valArray.length-1],
				$browsebutton = $this.siblings('.browsebtn'),
				$fakeFile = $this.siblings('.file-holder'),
				$inputType = '';
			var fbvals =[];//, flipbooktitle, flipbookpdbs;
			
			sourceSelected = false; 
			thumbnailSelected = false; 
			videoSelected = false;
			
			console.log("$this is: " + $this + " $val is filepath: " + $val + " newVal is filename: " + newVal + " fakeFile is obj: " + $fakeFile);
			//check if file exists
			if(newVal !== '') {
				//check if extension is correct depending on input type
				ext = $this.val().split('.').pop().toLowerCase();
				var noExt = false;
				console.log("get ext: " + ext);
				inputType = $this.attr('id');
				if (inputType === 'id_sourcefile') {
					console.log("do SOURCEFILE");
					switch(ext){
						case 'flipbook':
							if (window.File && window.FileReader) { //var myvar = handleFileSelect($this);
							  handleFileSelect( $this, function(fbvals) {
							    console.log("fbvals[0] = " + fbvals[0]);
							    console.log("fbvals[1] = " + fbvals[1]);
							    if (fbvals[0].length !== 0) {
								  console.log("in if fbvals[0] = " + fbvals[0]);
								  $('#title').val(fbvals[0]);
								}
								if (fbvals[1] !== 0) {
								  $('#pdbs').tokenfield('setTokens',fbvals[1]);
								}
							  });
							}
							else {
							  console.log("The File APIs are not fully supported in this browser.");
							}
							sourceSelected = setDBFiletype(10,".flipbook (Molecular FlipBook)");
							break;
						case 'blend':
							sourceSelected = setDBFiletype(20,".blend (Blender)");
							break;
						case 'ma':case 'mb':
							sourceSelected = setDBFiletype(30,".ma/.mb (Maya)");
							break;
						case 'c4d':
							sourceSelected = setDBFiletype(40,".c4d (Cinema 4D)");
							break;
						case 'max':case '3ds':
							sourceSelected = setDBFiletype(50,".max/.3ds (3DS Max)");
							break;
						case 'dae':
							sourceSelected = setDBFiletype(60,".dae (Collada)");
							break;
						case 'x3d':
							sourceSelected = setDBFiletype(70,".x3d (Web 3D)");
							break;
						case 'pdf':
							sourceSelected = setDBFiletype(80,".pdf (Acrobat)");
							break;
						case 'key':
							sourceSelected = setDBFiletype(90,".key (Keynote)");
							break;
						case 'ppt': case 'pptx':
							sourceSelected = setDBFiletype(100,".ppt/.pptx (Powerpoint)");
							break;
						case 'ai':
							sourceSelected = setDBFiletype(110,".ai (Illustrator)");
							break;
						case 'psd': case 'eps':
							sourceSelected = setDBFiletype(120,".psd/.eps (Photoshop)");
							break;
						case 'xcf':
							sourceSelected = setDBFiletype(130,".xcf (GIMP)");
							break;
						case '': default:
							noExt = true;
							break;
					} //end switch
					getFileSize($this);
				} else if (inputType === 'id_vidpic') {
					console.log("do VIDPIC");
					switch(ext){
						case 'png': case 'jpg': case 'jpeg': case 'gif':
							thumbnailSelected = true;
							break;
						case '': default:
							noExt = true;
							break;
					} //end switch
					getFileSize($this);
				} else if (inputType === 'id_vidanimation') {
					console.log("do VIDEO");
					switch(ext){
						case 'avi': case 'mov': case 'mp4': case 'wmv':
							videoSelected = true;
							break;
						case '': default:
							noExt = true;
							break;
					} //end switch
					getFileSize($this);
				} //end if-else for ext type
				
				//display wrong file format error msg; otherwise, display next 'window' of steps
				if (noExt) {
					if (inputType === 'id_sourcefile') {
						$('#filetype-error-msg-prompt').html("<strong>ERROR:</strong> File format not accepted. Please choose another file.").show().css( 'color','#FF0000');
						$('#filetype-error-msg-prompt').delay(1500).fadeOut();
						sourceSelected = false;
						reset2($('#id_sourcefile'));
					} else if (inputType === 'id_vidpic') {
						$('#info-error-msg-prompt').html("<strong>ERROR:</strong> File format not accepted. Please choose another file.").show().css( 'color','#FF0000');
						$('#info-error-msg-prompt').delay(1500).fadeOut();
						thumbnailSelected = false;
						reset2($('#id_vidpic'));
					} else if (inputType === 'id_vidanimation') {
						$('#info-error-msg-prompt').html("<strong>ERROR:</strong> File format not accepted. Please choose another file.").show().css( 'color','#FF0000');
						$('#info-error-msg-prompt').delay(1500).fadeOut();
						videoSelected = false;
						reset2($('#id_vidanimation'));
					}
				} else { // show selected thumbnail and/or video file
					var imgDomUrl;
					var newSrcUrl;
					if ($fakeFile.length === 0) {
						console.log("$fakeFile.length = " + $fakeFile.length);
						console.log("$fakeFile = " + $fakeFile);
						if (inputType === 'id_sourcefile' && sourceSelected === true) {
							$browsebutton.css("visibility", "hidden");
							console.log("fbvals[0] = " + fbvals[0]);
							$('#authors').val('{{ user }}'); 				//populate authors field with logged-in user
							$('#iconfiletypes').hide();
							if (ext !== 'flipbook') {
								$('#title').val(newVal);
							}
							$('#tags-tokenfield').attr('name','tags-tokenfield');
							$('#pdbs-tokenfield').attr('name','pdbs-tokenfield');
							$('#pdbs-input input:text').addClass('ignore').css('visibility','visible');
							$('#tags-input input:text').addClass('ignore').css('visibility','visible');
							$('#pdbs-input, #tags-input').css('visibility','visible');
							$('.tokenfield,.form-control').css('visibility','visible');
							$('#description').css({'width':'510px','margin-left':'-350px'});
							$('#ancestors').css({'width':'500px','margin-left':'-370px'});
						} else if (inputType === 'id_vidpic' && thumbnailSelected === true) {
							console.log("before -  your thumbnail");
							//if ( getFileSize($this) );
							$browsebutton.after('<br class="file-holder-br" /><span id="thumbnail-holder" class="file-holder">' + newVal + '</span><br class="file-holder-br" /><br class="file-holder-br" />');
							$('#thumbnail-holder').before('<br class="file-holder-label-br" /><span class="file-holder-label" style="font-size:small;font-weight:bold">Your selected thumbnail: </span><br class="file-holder-label-br" />').css('font-size','small');
							console.log("assign thumbnail ext");
							imgDomUrl = ("img/icons/generic-icon-1024x576-").concat(ext, ".png");
							console.log(imgDomUrl);
							newSrcUrl = ("/static/").concat(imgDomUrl);
							console.log(newSrcUrl);
							$('#thumbnail-upload').attr('src', newSrcUrl);
						} else if (inputType === 'id_vidanimation' && videoSelected === true) {
							$browsebutton.after('<br class="file-holder-br" /><span id="video-holder" class="file-holder">' + newVal + '</span><br class="file-holder-br" /><br class="file-holder-br" />');
							$('#video-holder').before('<br class="file-holder-label-br" /><span class="file-holder-label" style="font-size:small;font-weight:bold">Your selected video: </span><br class="file-holder-label-br" />').css('font-size','small');
							imgDomUrl = ("img/icons/generic-icon-1024x576-").concat(ext, ".png");
							console.log(imgDomUrl);
							newSrcUrl = ("/static/").concat(imgDomUrl);
							console.log(newSrcUrl);
							$('#video-upload').attr('src', newSrcUrl);
						}
						
						//make DOM tags visible depending on the file format
						if (inputType === 'id_sourcefile' && sourceSelected === true) {
							if (ext === 'flipbook') {
								console.log("Get .flipbook from Mike!");
								$("#vidpic-msg-prompt,#thumbnail-upload,#id_vidpic,#browsethumbnail,#vidanimation-msg-prompt,#video-upload,#id_vidanimation,#browsevid,#title,#authors,#description,#pdbs-tokenfield,#tags-tokenfield,#ancestors,#submissionInput").css("visibility","visible");
								$(".placeholder, .descriptionplaceholder").css("display","block");
							} else if (ext === 'blend' || ext === 'ma' || ext === 'mb' || ext === 'c4d' || ext === 'max' || ext === '3ds ' || ext === 'dae') {
								console.log("inside if ext...");
								$("#vidpic-msg-prompt,#thumbnail-upload,#id_vidpic,#browsethumbnail,#vidanimation-msg-prompt,#video-upload,#id_vidanimation,#browsevid,#title,#authors,#description,#pdbs-tokenfield,#tags-tokenfield,#ancestors,#submissionInput").css("visibility","visible");
								$(".placeholder, .descriptionplaceholder").css("display","block");
							} else if (ext === 'x3d' || ext === 'pdf' || ext === 'key' || ext === 'ppt' || ext === 'pptx' || ext === 'ai' || ext === 'psd' || ext === 'eps' || ext === 'xcf' ) {
								$("#vidpic-msg-prompt,#thumbnail-upload,#id_vidpic,#browsethumbnail,#title,#authors,#description,#pdbs-tokenfield,#tags-tokenfield,#ancestors,#submissionInput").css("visibility","visible");
								$(".placeholder, .descriptionplaceholder").css("display","block");
							}
						} //only for input source file
						
					} else { //reset if user selects another thumbnail and/or video file 
						if (inputType === 'id_sourcefile') {
							$fakeFile.text(newVal);
							console.log(newVal);
						} else if (inputType === 'id_vidpic') {
							$fakeFile.text(newVal);
							console.log("assign thumbnail ext");
							imgDomUrl = ("img/icons/generic-icon-1024x576-").concat(ext, ".png");
							console.log(imgDomUrl);
							newSrcUrl = ("/static/").concat(imgDomUrl);
							console.log(newSrcUrl);
							$('#thumbnail-upload').attr('src', newSrcUrl);
						} else if (inputType === 'id_vidanimation') {
							$fakeFile.text(newVal);
							imgDomUrl = ("img/icons/generic-icon-1024x576-").concat(ext, ".png");
							console.log(imgDomUrl);
							newSrcUrl = ("/static/").concat(imgDomUrl);
							console.log(newSrcUrl);
							$('#video-upload').attr('src', newSrcUrl);
						}
					} //end if fakeFile.length
				} //end if-else no extension
			} //end if file exists
		}; //end SITE.fileInputs

		//*************************************** selector events ****************************
		//trigger sourcefile, thumbnail, and/or video file upload
		$('input[type=file]').bind('change', SITE.fileInputs);

		//reset form to beginning of submission form page
		$('#startOver').on('click', function() {
			if ($('label.error').length) {
			  $('label.error').remove();
			}
			initSubmissionForm();
		});

		var results = "";

		var pdblist = $('#pdbs').on('beforeCreateToken', function(e) {
		  if ( $('#pdbs').tokenfield('getTokens').length === 10) {
				delete e.token;
				$('#pdbs-input').after('<span id="pdbserrormsg" style="color:#FF0000">Maximum 10 PDB limit </span><br id="brpdbmsg" />');
				$('#pdbserrormsg').delay(2000).fadeOut(300, function(){ $(this).remove(); });
				$('#brpdbmsg').delay(2000).fadeOut(300, function() { $(this).remove(); });
				$('#pdbs-tokenfield').val("").blur();
				console.log("pdbcount & val = " + $('#pdbs').tokenfield('getTokens').length );
		  }
		  console.log("pdblist = " + $('#pdbs').tokenfield('getTokensList'));
		}).tokenfield({
			  createTokensOnBlur: true,
			  allowDuplicates: false
		}); //end tokenfield

		var existingTokens; 
		console.log('existingTokens = ' + existingTokens);

		var taglist = $('#tags').on('beforeCreateToken', function(e) {
		  if ( $('#tags').tokenfield('getTokens').length === 10) {
				delete e.token;
				$('#tags-input').after('<span id="tagserrormsg" style="color:#FF0000">Maximum 10 tag limit </span><br id="brtagmsg" />');
				$('#tagserrormsg').delay(2000).fadeOut(300, function(){ $(this).remove(); });
				$('#brtagmsg').delay(2000).fadeOut(300, function() { $(this).remove(); });
				$('#tags-tokenfield').autocomplete("close");
				$('#tags-tokenfield').val("").blur();
				console.log("tagcount & val = " + $('#tags').tokenfield('getTokens').length );
		  }
		  console.log("taglist = " + $('#tags').tokenfield('getTokensList'));
		}).tokenfield({
			  autocomplete: {
				source: function( request, response ) {
				  $.ajax({
					url: "{% url 'acsearch' %}",
					dataType: 'json',
					data: {
					  featureClass: "P",
					  style: "full",
					  maxRows: 12,
					  q: request.term.toLowerCase()
					},
				    success: function( data ) {
					  if ( data.results !== undefined ){
						response( $.map( data.results, function(item){
						  return { label: item, value: item};
						})); //end response
					  } //end if
					}, //end success
				    error: function () {
					  output.html('<h2 class="error">There was an error loading the data.</h2>');
				    } //error
				  }); //end .ajax fn
				}, //end source
				minLength: 2,
				select: function( event, ui ) {
				  $("#tags").val($('#tags').tokenfield('getTokensList'));
				},
				open: function(event, ui) {
				  $( this ).removeClass( "ui-corner-all" ).addClass( "ui-corner-top" );
				},
				close: function(event, ui) {
				  $( this ).removeClass( "ui-corner-top" ).addClass( "ui-corner-all" );
				}
			  }, //autocomplete
			  showAutocompleteOnFocus: true,
			  createTokensOnBlur: true,
			  allowDuplicates: false
		}); //end tokenfield

		
		// show file format tooltip
		$("img #ic-tonfile").on("mouseover", function() {
		  showIconTooltip($(this),"icontooltips");
		});
 
		//submit valid form data to heroku server except uploads.
		$('#submissionUpload').validate({
		  debug: true,
		  ignore: ".ignore",
		  rules:{
			title: { required: true },
			authors: { required: true },
			description: { required: true }
		  },
		  messages:{
			title: { required: "Please enter a title" },
			authors: { required: "Please add authors" },
			description: { required: "Please describe the animation" }
		  },
		  errorPlacement: function(error, element){
			error.insertAfter(element.parent('.placeholder'));
		  },
		  submitHandler: function(form,e){
			$('#startOver').prop('disabled',true);
			if ($('#submissionUpload').hasClass('no-uploads')) {
			  console.log('handler fired');
			  doUploads(form);
			  e.preventDefault();
			}
		  } //end submithandler
		}); //end validate
		
	}); //end ready
</script>
{% endblock %}
