{% extends "accounts/dashboard.html" %}
{% load staticfiles %}

{% comment %}
Redirect tag update upon success.
{% endcomment %}

{% block content %}
<section class="successful_upload_msg">
	<h1 class="dashboard-headings"></h1>
		<p>
		Your tags for <a class="sublinks" href="{% url 'subinfo' subid revid %}">"{{ title }}"</a> have been added.<br /><br />
		Return to browsing the <a href="{% url 'library' %}">Library.</a><br />
		</p>
		<br /><br />
</section>
{% endblock %}