{% extends "accounts/dashboard.html" %}
{% load staticfiles %}

{% comment %}
**URL Design: templates/accounts/**
Displays list of all submissions, each 
with a revision history, that a
user has uploaded to their account.
{% endcomment %}

{% block rev_tagging %}
<section class="successful_upload_msg">
	<h1 class="dashboard-headings">Done!</h1>
		<p>
		Your tags for <a class="sublinks" href="{% url 'revinfo' revPk %}">"{{ title }}"</a> have been added.<br /><br />
		Continue browsing the <a href="{% url 'uploadsmanager' %}">Uploads Manager.</a><br />
		</p>
		<br /><br />
</section>
{% endblock %}