{% extends "accounts/dashboard.html" %}
{% load staticfiles %}

{% comment %}
Redirect submission upload and revision upload upon success.
{% endcomment %}

{% block successfulupload %}
<section class="successful_upload_msg">
	<h4 class="dashboard-headings">Awesome!</h4>
		<p>
		Your revision uploads were received.<br /><br />
		Check out <a href="{% url 'revinfo' revPk=revid %}">your new revision.</a><br />
		</p>
		<br /><br />
</section>
{% endblock %}