{% extends "accounts/dashboard.html" %}
{% load staticfiles %}

{% comment %}
**URL Design: /(?P<tutPk>\d+)/$**
After successful submission of a 
revision of a Submission object, display
detailed information for the object and 
and its history
{% endcomment %}

{% block content %}
<section id="sub-info-container" class="span12">
	<div class="sub-media" >
		{% if vimeoid  %}
			{% if oembed %}
				{{ oembed | safe }}
			{% else %}
				<img src="{{ thumb_large }}" alt="{{ title }}" />
			{% endif %}
		{% else %}
			<img src="{{ thumb_large }}" alt="{{ title }}" />
		{% endif %} 
	</div>
	<div id="sub-info">
		<section style="background-color:#f4f5f7; border: 1px, solid, #E9EBEF; width=640px; padding:0px">
			<div><strong>Title</strong>: {{ title }}</div>
			<div><strong>MFB_ID</strong>: {{ tutid }}</div>
			<div class="vm-date-timestamp-info">
				<strong>Uploaded on</strong>: {{ timestamp }}
			</div>
			<div id="description_{{ selected_tut.pk }}" style="float: none; position: static;">
				<strong>Description</strong>: {{ comments }}<br />
			</div>
		</section>
		<br /><br />
	</div> <!-- sub-info -->
</section> <!-- span12 -->
<script type="text/javascript">
$(document).ready(function(){

});//end ready
</script>
{% endblock %}