{% extends "accounts/dashboard.html" %}
{% load staticfiles %}

{% comment %}
**URL Design: templates/accounts/**
Displays list of all submissions, each 
with a revision history, that a
user has uploaded to their account.
{% endcomment %}

{% block uploadsmanager %}
<!-- <div class="container "> -->
	<div class="row">
		<h3 class="dashboard-headings" style="margin-left:15px">Uploads: {{ vidCount }}</h3>
		
		{% if messages %}
			<ul class="messages">
				{% for message in messages %}
				<li {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
				{% endfor %}
			</ul>
		{% endif %}
		
		{% for submission in submissions %}
			<div class="span2.5">
				{% for revItem in submission.revisions.all %}
					{% if forloop.last %}
					<a href="{% url 'revinfo' revPk=revItem.pk %}" title="{{ submission.title }}"><img class="side-col-thumbnail" src="{{ revItem.thumb_small }}" alt="{{ submission.title }}" /></a>
					<br /><br />
					{% endif %}
				{% endfor %}
			</div>
			
			<div class="span7">
				{% for revItem in submission.revisions.all reversed %}
					{% if forloop.first %}
						<span id="list_title"><a class="uploads-user" href="{% url 'revinfo' revPk=revItem.pk %}" title="{{ submission.title }}">{{ submission.title }}</a></span>
						<div class="btn-group">
						<a class="action-anchors btn-mini" href="{% url 'revise' pkVid=submission.pk %}" title="submit revision">Upload new version</a>
						</div><br />
					{% endif %}
				{% endfor %}
				{% for revItem in submission.revisions.all reversed %}
					{% if forloop.first %}
					<span id="list_timestamp">Timestamp: {{ revItem.modified }}</span><br />
					{% endif %}
				{% endfor %}
				<span id="list_filetype">Filetype: {{ submission.filetype }}</span><br />
				<span id="list_pdb">PDB(s): {{ submission.displayPdbs }}</span><br />
				<div class="wrapper"><div id="description_{{ submission.pk }}" style="float: none; position: static;" name="{{ submission.description }}">Description: {{ submission.description }}</div></div><br />
				<!--  this is where the history of revisions will be -->
				<button type="button" class="btn btn-small" data-toggle="collapse" data-target="#vidpk-{{ submission.pk }}">Revision History <span class="caret"></span></button>
					<div id="vidpk-{{ submission.pk}}" class="collapse out">
						<ul>
							{% for revItem in submission.revisions.all reversed %}
								<li><a class="action-anchors" href="{% url 'revinfo' revPk=revItem.pk %}" title="{{ submission.title }}">Version: {{ revItem.modified }} </a></li>
							{% endfor %}
						</ul>
					</div>
					<br />
				<br /><br />
			</div>
		{% endfor %}
	</div> <!--  end row -->
 <!-- </div> container -->

<script type="text/javascript">
	$(document).ready(function() {
		$('.wrapper').children('div').jTruncate({
			length: 200,
			minTrail: 0,
			moreText: "[read more]",
			lessText: "[read less]",
			ellipsisText: " ...",
			moreAni: "fast",
			lessAni: "fast"
		});

	}); //end doc-ready
</script>
{% endblock %}