{% extends "animation/queried_results.html" %}

{% block querylist %}
{% for vid in vids %}
	<li class="thumbnail" data-animation="{{ vid.id }}">
		<div class="animation-thumbnail js-animation-thumbnail" >
			<a class="animation-link" href="">
				<img class="thumbnail" src="" alt="{{ vid.description }}">
				<span class="private off"></span>
			</a>
			<div class="animation-meta">
				<p class="animation-author js-animation-author">by <a href="{% url %}" title="{{ vid.user }}'s portfolio">{{ vid.user }}</a>
				</p>
				
				<p class="animation-name js-animation-name animation-name-active">{{ vid.title }}</p>
				<p class="animation-stats js-animation-stats animation-stats-active">
					<span class="eye"></span>
					<span class="hits">viewsVal</span>
					<span class="heart-icon"></span>
					<span class="likes">likesVal</span>
					<a href="/show/dGUrytaktlDeNudCEGKk31oTJY#comment" title="Comment"><span class="comment-icon"></span></a>
					<span class="comments-total"><a href="/show/dGUrytaktlDeNudCEGKk31oTJY#comment#disqus_thread" title="Comments" data-disqus-identifier='dGUrytaktlDeNudCEGKk31oTJY'>0</a></span>
				</p>
			</div>
		</div>
	</li>
{% endblock %}