{% extends "base.html" %}
{% load i18n %} 

{% comment %}
**registration/registration_form.html**
Customized login with checks for required fields, 
unique username, hidden password input and match 
{% endcomment %}

{% block content %}

<div id="article_content">
<!-- will insert animations here -->
	<ul class="thumbnails">
		
		{% block querylist %}
		
		{% endblock %}
		
	</ul>
</div>

{% endblock %}